@using VolleyLeague.Client.Blazor.Services
@using Microsoft.AspNetCore.Components.Authorization
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Shared.Dtos
@using static VolleyLeague.Client.Blazor.Services.AccountService
@using System.Net.Http.Headers
@using System.Globalization
@using VolleyLeague.Shared.Dtos.Teams
@inject AuthenticationStateProvider authStateProvider
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject IUserService userService
@inject NavigationManager Navigation
@inject ITeamService teamService
@inject IUserDefinedCodeService userDefinedCodeService

@inherits LayoutComponentBase

<header id="rtsHeader" class="rts-header1 header-four cricket">
    <div class="navbar-sticky">
    </div>
    <div class="navbar-part navbar-part1">
        <div class="container">
            <div class="top-bar">
                <div class="top-bar-inner">
                    <div class="top-bar-left">
                        <a href="#" class="get-ticket-btn">MEDIA SPOŁECZNOŚCIOWE</a>
                        <ul class="social-wrapper">
                            <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                    </div>
                    <div class="top-bar-mid">
                        <span class="tag">AKTUALNY SEZON</span>
                        <div class="live-match">@currentSeason</div>
                    </div>
                    <AuthorizeView>
                        <NotAuthorized>
                            <div class="top-bar-right">
                                <a href="/login" class="login-btn">ZALOGUJ</a>
                                <a href="/register" class="sign-up-btn">REJESTRACJA</a>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                    <AuthorizeView>
                        <Authorized>
                            <div class="top-bar-right">
                                <NavLink class="menu-item text-label" href="/account">PANEL ADMINISTRACYJNY</NavLink>
                                <a class="sign-up-btn">|</a>
                                <a @onclick="Logout" class="sign-up-btn">WYLOGUJ</a>
                            </div>
                        </Authorized>
                    </AuthorizeView>
                </div>
            </div>
            <div class="navbar-inner">
                <a href="/" class="logo"><img src="assets/images/logo-new.png" alt="sportius-logo"></a>
                <a href="/" class="logo-sticky">
                    <img src="assets/images/logo-new.png" alt="liga-siatkowki-logo">
                </a>
                <div class="rts-menu">
                    <nav class="menus menu-toggle">
                        <ul class="nav__menu">
                            <li class="has-dropdown">
                                <NavLink class="menu-item active1" href="/">Home</NavLink>
                            </li>
                            <li class="has-dropdown">
                                <NavLink class="menu-item" href="#">Wyniki</NavLink>
                                <ul class="dropdown-ul">
                                    <li class="dropdown-li">
                                        <NavLink class="dropdown-link" href="/standings">Tabele</NavLink>
                                    </li>
                                    <li class="dropdown-li">
                                        <NavLink class="dropdown-link" href="/mvp">MVP</NavLink>
                                    </li>
                                    <li class="dropdown-li">
                                        <NavLink class="dropdown-link" href="/typedResults">Typermania</NavLink>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-dropdown">
                                <NavLink class="menu-item" href="/schedule">Terminarz</NavLink>
                            </li>
                            <li class="has-dropdown">
                                <NavLink class="menu-item" href="/teams-list">Zespoły</NavLink>
                            </li>
                            <li class="has-dropdown">
                                <NavLink class="menu-item" href="/policy">Liga</NavLink>
                            </li>
                            <li class="has-dropdown">
                                <NavLink class="menu-item" href="/contact">Kontakt</NavLink>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="header-action-items header-action-items1">
                    <div class="search-part">
                        <div class="search-icon action-item icon"><i class="rt-search"></i></div>
                        <div class="search-input-area">
                            <div class="container">
                                <div class="search-input-inner">
                                    <select class="custom-select select-hidden">
                                        <option value="hide">All Catagorys</option>
                                        <option value="all">All</option>
                                        <option value="league">League</option>
                                        <option value="club">Club</option>
                                        <option value="team">Team</option>
                                        <option value="player">Player</option>
                                        <option value="match">Match</option>
                                        <option value="score">Score</option>
                                    </select>
                                    <div class="input-div">
                                        <div class="search-input-icon"><i class="rt-search mr--10"></i></div>
                                        <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                                    </div>
                                    <div class="search-close-icon"><i class="rt-xmark"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="hamburger-menu aitem d-block">
                    <div class="hamburger-menu-inner">
                        <span></span>
                        <span class=""></span>
                        <span></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="banner banner1 volleyball @(IsHomePage ? "" : "display_none")">
        <div class="swiper bannerSlide2">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="banner-single banner-single-1 banner-bg">
                        <div class="container">
                            <div class="banner-content">
                                <span class="pretitle">LIGASIATKOWKI.pl</span>
                                <h1 class="banner-heading">Volleyball World</h1>
                                <p class="desc">Welcome to Kester premier online destination for everything volleyball! Whether you're a dedicated player, a passionate fan, or someone just begin to explore the world of volleyball</p>
                                <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-single banner-single-1_2 banner-bg">
                        <div class="container">
                            <div class="banner-content">
                                <span class="pretitle">Liga2</span>
                                <h1 class="banner-heading">Volleyball World</h1>
                                <p class="desc">Welcome to Kester premier online destination for everything volleyball! Whether you're a dedicated player, a passionate fan, or someone just begin to explore the world of volleyball</p>
                                <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="banner-single banner-single-3 banner-bg">
                        <div class="container">
                            <div class="banner-content">
                                <span class="pretitle">WELCOME TO Volleyball World</span>
                                <h1 class="banner-heading">Volleyball World</h1>
                                <p class="desc">Welcome to Kester premier online destination for everything volleyball! Whether you're a dedicated player, a passionate fan, or someone just begin to explore the world of volleyball</p>
                                <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider-pagination-area">
                <span>01</span>
                <div class="swiper-pagination">
                </div>
                <span>03</span>
            </div>
            </div>
    </div>
    <div class="banner banner1 @(IsHomePage ? "display_none" : "")">
        <div class="banner banner1">
            <div class="inner-page-banner banner-bg">
                <div class="container">
                    <div class="banner-content">
                        <div class="page-path">
                            <ul>
                                <li><a class="home-page-link" href="index.html">Strona Główna</a></li>
                                @*                                 <li><a class="current-page" href="#">@currentPath</a></li> *@
                            </ul>
                        </div>
                        <h1 class="banner-heading">@GetPageTitle()</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<style>
    .nav-item.nav-user {
        color: #7d7d7d;
        text-decoration: none;
        font-size: 9px;
    }

    .display_none {
        display: none;
    }
</style>

@code {
    private string currentPath;
    private string pageTitle;
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private bool HasTeam { get; set; } = false;
    PlayerSummaryDto playerSummary = new PlayerSummaryDto();
    private bool IsPlayer { get; set; }
    private bool IsAdmin { get; set; }
    private bool IsHomePage => NavigationManager.Uri.EndsWith("/");

    [Inject]
    public NavigationManager NavigationManager { get; set; } = null!;

    private string previousUri;

    private string currentSeason = "Ładowanie...";


    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    protected override async Task OnInitializedAsync()
    {
        currentSeason = await userDefinedCodeService.GetValueByKey("current-season-for-main-page");

        NavigationManager.LocationChanged += OnLocationChanged;

        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            IsPlayer = user.IsInRole("Player");
            IsAdmin = user.IsInRole("Admin");

            playerSummary = await userService.GetUserSummary();
            HasTeam = await userService.IsTeamCaptain();
        }

        previousUri = NavigationManager.Uri;
    }

    private void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        var currentUri = NavigationManager.Uri;
        UpdatePageInfo();
        StateHasChanged();

        if (IsNavigatingToOrFromHomePage(currentUri, previousUri))
        {
            StateHasChanged();
        }

        previousUri = currentUri;
    }

    private void UpdatePageInfo()
    {
        currentPath = NavigationManager.Uri.Replace(NavigationManager.BaseUri, "");
        pageTitle = GetPageTitle();
    }

    private string GetPageTitle()
    {
        return currentPath switch
        {
            "" => "STRONA GŁÓWNA",
            "standings" => "TABELA",
            "mvp" => "MVP",
            "typedResults" => "TYPERMANIA",
            "schedule" => "TERMINARZ",
            "teams-list" => "ZESPOŁY",
            "policy" => "LIGA",
            "contact" => "KONTAKT",
            "login" => "LOGOWANIE DO PORTALU",
            "register" => "REJESTRACJA UŻYTKOWNIKA",
            _ => "STRONA",
        };
    }

    private bool IsNavigatingToOrFromHomePage(string currentUri, string previousUri)
    {
        bool isCurrentHomePage = currentUri.EndsWith("/");
        bool isPreviousHomePage = previousUri.EndsWith("/");

        return isCurrentHomePage || isPreviousHomePage;
    }

    public async void Logout()
    {
        await localStorage.RemoveItemAsync("token");
        ((CustomAuthenticationStateProvider)authStateProvider).NotifyUserLogout();
        NavigationManager.NavigateTo("/", forceLoad: true);
    }

    private string GetDayName(DateTime date)
    {
        return date.ToString("dddd", new CultureInfo("pl-PL"));
    }

    private string GetFormattedDate(DateTime date)
    {
        return date.ToString("dd MMMM yyyy", new CultureInfo("pl-PL"));
    }

    // public void Dispose()
    // {
    //     NavigationManager.LocationChanged -= OnLocationChanged;
    // }

    private void NavigateToAccount()
    {
        NavigationManager.NavigateTo("/account");
    }

    private bool showAdminPanel = false;

    private void ToggleAdminPanel()
    {
        showAdminPanel = !showAdminPanel;
    }

    private void NavigateToAdminPanel()
    {
        NavigationManager.NavigateTo("/account");
    }
}
