@page "/account"
@using Microsoft.AspNetCore.WebUtilities

@using VolleyLeague.Client.Blazor.Services
@using Microsoft.AspNetCore.Components.Authorization
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Shared.Dtos
@using static VolleyLeague.Client.Blazor.Services.AccountService
@using System.Net.Http.Headers
@using System.Globalization
@using VolleyLeague.Shared.Dtos.Teams
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@inject NavigationManager Navigation
@inject ITeamService teamService

<section class="rts-account-section section-gap">
    <div class="container">
        <div class="account-inner">
            <div class="account-side-navigation">
                <button class="filter-btn @GetActiveClass(InfoPages.EditProfile)" @onclick="() => ShowSection(InfoPages.EditProfile)">
                    <i class="fal fa-user-edit"></i> Edytuj Profil
                </button>
                <button class="filter-btn @GetActiveClass(InfoPages.Orders)" @onclick="() => ShowSection(InfoPages.Orders)">
                    <i class="fal fa-shopping-cart"></i> Orders
                </button>
                <button class="filter-btn @GetActiveClass(InfoPages.Address)" @onclick="() => ShowSection(InfoPages.Address)">
                    <i class="fal fa-map-marker-alt"></i> Address
                </button>
                <button class="filter-btn @GetActiveClass(InfoPages.AccountDetails)" @onclick="() => ShowSection(InfoPages.AccountDetails)">
                    <i class="fal fa-user"></i> Account Details
                </button>
                <button class="filter-btn @GetActiveClass(InfoPages.UserProfile)" @onclick="() => ShowSection(InfoPages.UserProfile)">
                    <i class="fal fa-user"></i> Profil Użytkownika
                </button>
                <a href="login.html" class="filter-btn">
                    <i class="fal fa-long-arrow-left"></i> Logout
                </a>
            </div>
            <div class="account-main-area">
                @switch (currentSection)
                {
                    case InfoPages.EditProfile:
                        <EditProfile Id="@playerSummary.Id" />
                        ;
                        break;
                    case InfoPages.Orders:
                        <Orders />
                        ;
                        break;
                    case InfoPages.Address:
                        <Address />
                        ;
                        break;
                    case InfoPages.AccountDetails:
                        <AccountDetails />
                        ;
                        break;
                    case InfoPages.UserProfile:
                        <UserProfile Id="@playerSummary.Id" />
                        ;
                        break;
                }
            </div>
        </div>
    </div>
</section>

@code {
    public enum InfoPages { EditProfile, Orders, Address, AccountDetails, UserProfile }

    private InfoPages currentSection = InfoPages.EditProfile;
    private bool IsPlayer { get; set; }
    private bool IsAdmin { get; set; }
    private PlayerSummaryDto playerSummary = new PlayerSummaryDto();
    private bool HasTeam { get; set; } = false;

    [Inject] private IUserService userService { get; set; }
    [Inject] private AuthenticationStateProvider authStateProvider { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            IsPlayer = user.IsInRole("Player");
            IsAdmin = user.IsInRole("Admin");

            playerSummary = await userService.GetUserSummary();
            HasTeam = await userService.IsTeamCaptain();

            var uri = Navigation.ToAbsoluteUri(Navigation.Uri);
            if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("section", out var section))
            {
                if (Enum.TryParse<InfoPages>(section, true, out var parsedSection))
                {
                    currentSection = parsedSection;
                }
            }
        }
    }

    private void ShowSection(InfoPages section)
    {
        currentSection = section;
        Navigation.NavigateTo($"/account?section={section}");
    }

    private string GetActiveClass(InfoPages section)
    {
        return currentSection == section ? "active" : string.Empty;
    }
}
