@page "/change-password"
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Entities.Dtos.Users
@using Microsoft.AspNetCore.Components.Authorization
@inject IUserService UserService
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider

<section class="category_section">
    <div class="container" style="width: 500px; margin-left: auto; margin-right: auto;">
        <div class="row">
            <h2 style="text-align:center; margin-top:30px">Zmiana hasła</h2>

            <EditForm Model="changePasswordModel" OnValidSubmit="HandleChangePassword">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="form-group">
                    <label for="currentPassword">Obecne hasło</label>
                    <input type="password" id="currentPassword" class="form-control" @bind="changePasswordModel.CurrentPassword" />
                </div>
                <div class="form-group">
                    <label for="newPassword">Nowe hasło</label>
                    <input type="password" id="newPassword" class="form-control" @bind="changePasswordModel.NewPassword" @oninput="ValidatePassword" />
                    <ul class="password-requirements mt-2">
                        <li class="@GetValidationClass(PasswordLengthValid)">Co najmniej 8 znaków</li>
                        <li class="@GetValidationClass(PasswordUppercaseValid)">Zawiera wielkie litery</li>
                        <li class="@GetValidationClass(PasswordLowercaseValid)">Zawiera małe litery</li>
                        <li class="@GetValidationClass(PasswordNumberValid)">Zawiera cyfry</li>
                        <li class="@GetValidationClass(PasswordPunctuationValid)">Zawiera znaki interpunkcyjne</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="confirmNewPassword">Potwierdź nowe hasło</label>
                    <input type="password" id="confirmNewPassword" class="form-control" @bind="changePasswordModel.ConfirmNewPassword" @oninput="ValidateConfirmPassword" />
                    @if (!string.IsNullOrEmpty(confirmPasswordValidationMessage))
                    {
                        <div class="text-danger mt-2">@confirmPasswordValidationMessage</div>
                    }
                </div>
                <button type="submit" class="btn btn-primary">Zmień hasło</button>
            </EditForm>
        </div>
    </div>
</section>

@if (!string.IsNullOrEmpty(changePasswordMessage))
{
    <div class="alert alert-info mt-3">@changePasswordMessage</div>
}

<style>
    .password-requirements {
        list-style-type: none;
        padding: 0;
    }

        .password-requirements li {
            display: flex;
            align-items: center;
            margin-top: 0.5em;
        }

            .password-requirements li.valid {
                color: green;
            }

            .password-requirements li::before {
                content: '✘';
                margin-right: 8px;
                font-size: 1.2em;
                display: inline-block;
            }

            .password-requirements li.valid::before {
                content: '✔';
                color: green;
            }
</style>

@code {
    private ChangePasswordDto changePasswordModel = new ChangePasswordDto();
    private string changePasswordMessage = string.Empty;
    private string confirmPasswordValidationMessage = string.Empty;

    // Password validation states
    private bool PasswordLengthValid = false;
    private bool PasswordUppercaseValid = false;
    private bool PasswordLowercaseValid = false;
    private bool PasswordNumberValid = false;
    private bool PasswordPunctuationValid = false;

    private async Task HandleChangePassword()
    {
        if (changePasswordModel.NewPassword != changePasswordModel.ConfirmNewPassword)
        {
            confirmPasswordValidationMessage = "Hasła nie są identyczne.";
            return;
        }

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            var email = user.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value;

            var changePasswordDto = new ChangePasswordDto
                {
                    CurrentPassword = changePasswordModel.CurrentPassword,
                    NewPassword = changePasswordModel.NewPassword,
                    ConfirmNewPassword = changePasswordModel.NewPassword
                };

            var result = await UserService.ChangePasswordAsync(changePasswordDto);

            if (result)
            {
                changePasswordMessage = "Hasło zostało pomyślnie zmienione.";
                NavigationManager.NavigateTo("/");
            }
            else
            {
                changePasswordMessage = "Zmiana hasła nie powiodła się.";
            }
        }
        else
        {
            changePasswordMessage = "Użytkownik nie jest zalogowany.";
        }
    }

    private void ValidatePassword(ChangeEventArgs e)
    {
        var password = e.Value.ToString();
        PasswordLengthValid = password.Length >= 8;
        PasswordUppercaseValid = password.Any(char.IsUpper);
        PasswordLowercaseValid = password.Any(char.IsLower);
        PasswordNumberValid = password.Any(char.IsDigit);
        PasswordPunctuationValid = password.Any(ch => char.IsPunctuation(ch) || char.IsSymbol(ch));
    }

    private void ValidateConfirmPassword(ChangeEventArgs e)
    {
        var confirmPassword = e.Value.ToString();
        if (changePasswordModel.NewPassword != confirmPassword)
        {
            confirmPasswordValidationMessage = "Hasła nie są identyczne.";
        }
        else
        {
            confirmPasswordValidationMessage = "";
        }
    }

    private string GetValidationClass(bool isValid)
    {
        return isValid ? "valid" : "invalidZero";
    }
}
