@page "/createMatch"
@using System.ComponentModel.DataAnnotations
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Entities.Dtos.Matches
@using VolleyLeague.Entities.Dtos.Teams
@using VolleyLeague.Entities.Dtos.Users
@using VolleyLeague.Entities.Dtos.Discussion
@inject IMatchOrganizerService matchOrganizerService
@inject ITeamService teamService
@inject NavigationManager NavigationManager

<section class="category_section" style="margin-top: 60px;">
    <div class="container" style="display:flex; justify-content: center">
        <div class="row" style="width: 75%;">
            <div class="">
                <h1 style="text-align: center;">Tworzenie meczu</h1>

                @if (pageReady)
                {
                    <EditForm Model="NewMatch" OnSubmit="OnSubmit">
                        <div class="form-group">
                            <label for="seasonSelect">Sezon:</label>
                            <Select value="@NewMatch.SeasonId" @onchange="OnSeasonChanged" class="form-control">
                                @foreach (var season in NewMatch.SeasonList)
                                {
                                    <option value="@season.Id">@season.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="RoundSelect">Runda:</label>
                            <Select value="@NewMatch.RoundId" @onchange="OnRoundChanged" class="form-control">
                                @foreach (var round in NewMatch.RoundList)
                                {
                                    <option value="@round.Id">@round.Name</option>
                                }
                            </Select>
                        </div>
                        <div class="form-group">
                            <label for="leagueSelect">Liga:</label>
                            <Select value="@NewMatch.LeagueId" @onchange="OnLeagueChanged" class="form-control">
                                @foreach (var league in NewMatch.LeagueList)
                                {
                                    <option value="@league.Id">@league.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="HomeTeam">Drużyna gospodarzy</label>
                            <Select value="@NewMatch.HomeTeamId" @onchange="OnHomeTeamChanged" class="form-control">
                                @foreach (var team in NewMatch.HomeTeamList)
                                {
                                    <option value="@team.Id">@team.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="GuestTeam">Drużyna gości</label>
                            <Select value="@NewMatch.GuestTeamId" @onchange="OnGuestTeamChanged" class="form-control">
                                @foreach (var team in NewMatch.GuestTeamList)
                                {
                                    <option value="@team.Id">@team.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="Referees">Sędzia</label>
                            <Select value="@NewMatch.RefereeId" @onchange="OnRefereeChange" class="form-control">
                                @foreach (var referee in NewMatch.RefereeList)
                                {
                                    <option value="@referee.Id">@referee.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="Venues">Miejsce Meczu</label>
                            <Select value="@NewMatch.VenueId" @onchange="OnVenueChange" class="form-control">
                                @foreach (var venue in NewMatch.VenueList)
                                {
                                    <option value="@venue.Id">@venue.Name</option>
                                }
                            </Select>
                        </div>

                        <div class="form-group">
                            <label for="scheduleDateTime">Data i czas:</label>
                            <input type="datetime-local" id="scheduleDateTime" class="form-control"
                                   @bind="NewMatch.Schedule" />
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <button type="submit" class="btn btn-primary">Utwórz</button>
                        </div>
                    </EditForm>
                }
                else
                {
                    if (loadingError != "")
                    {
                        <div class="alert alert-danger" role="alert">
                            @loadingError
                        </div>
                    }
                    else
                    {
                        <p>Ładowanie...</p>
                    }
                }
            </div>
        </div>
    </div>
</section>

@code {
    private NewMatchModel NewMatch = new NewMatchModel();
    private NewMatchDto NewMatchDto = new NewMatchDto();
    private List<RoundDto> AllRounds { get; set; } = new List<RoundDto>();
    private List<TeamSummaryDto> AllTeams { get; set; } = new List<TeamSummaryDto>();

    private bool pageReady = false;
    private string loadingError = "";

    private bool submitLoading = false;
    private string submitError = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var seasonsResult = await matchOrganizerService.GetSeasons();
            NewMatch.SeasonList = seasonsResult;
            NewMatch.SeasonId = NewMatch.SeasonList.FirstOrDefault()?.Id ?? 0;

            var roundsResult = await matchOrganizerService.GetRounds();
            AllRounds = roundsResult;
            NewMatch.RoundList = AllRounds.Where(r => r.SeasonId == NewMatch.SeasonId).ToList();
            NewMatch.RoundId = NewMatch.RoundList.FirstOrDefault()?.Id ?? 0;

            var leaguesResult = await matchOrganizerService.GetLeagues();
            NewMatch.LeagueList = leaguesResult;
            NewMatch.LeagueId = NewMatch.LeagueList.FirstOrDefault()?.Id ?? 0;

            var refereesResult = await matchOrganizerService.GetReferees();
            NewMatch.RefereeList = refereesResult;

            var teamsResult = await teamService.GetAllTeams();
            AllTeams = teamsResult;
            NewMatch.HomeTeamList = AllTeams.Where(t => t.LeagueId == NewMatch.LeagueId).ToList();
            NewMatch.HomeTeamId = NewMatch.HomeTeamList.FirstOrDefault()?.Id ?? 0;

            NewMatch.GuestTeamList = NewMatch.HomeTeamList.Where(t => t.Id != NewMatch.HomeTeamId).ToList();
            NewMatch.GuestTeamId = NewMatch.GuestTeamList.FirstOrDefault()?.Id ?? 0;

            var venueResult = await matchOrganizerService.GetVenues();
            NewMatch.VenueList = venueResult;
            NewMatch.VenueId = NewMatch.VenueList.FirstOrDefault()?.Id ?? 0;

            pageReady = true;
        }
        catch (Exception ex)
        {
            loadingError = $"Błąd podczas ładowania danych: {ex.Message}";
        }
    }

    public async Task OnSubmit()
    {
        submitLoading = true;

        NewMatchDto.Schedule = NewMatch.Schedule;

        NewMatchDto.SeasonId = NewMatch.SeasonId;
        NewMatchDto.RoundId = NewMatch.RoundId;
        NewMatchDto.LeagueId = NewMatch.LeagueId;
        NewMatchDto.HomeTeamId = NewMatch.HomeTeamId;
        NewMatchDto.GuestTeamId = NewMatch.GuestTeamId;
        NewMatchDto.RefereeId = NewMatch.RefereeId;
        NewMatchDto.VenueId = NewMatch.VenueId;

        var submitResult = await matchOrganizerService.CreateMatch(NewMatchDto);

        if (submitResult)
        {
            NavigationManager.NavigateTo("/matches");
        }
        else
        {
            submitError = "Wystąpił błąd podczas tworzenia meczu.";
        }

        submitLoading = false;
    }

    private async Task OnSeasonChanged(ChangeEventArgs e)
    {
        NewMatch.SeasonId = Convert.ToInt32(e.Value.ToString());
        NewMatch.RoundList = AllRounds.Where(r => r.SeasonId == NewMatch.SeasonId).ToList();
        NewMatch.RoundId = NewMatch.RoundList.FirstOrDefault()?.Id ?? 0;
    }

    private async Task OnLeagueChanged(ChangeEventArgs e)
    {
        NewMatch.LeagueId = Convert.ToInt32(e.Value.ToString());
        NewMatch.HomeTeamList = AllTeams.Where(t => t.LeagueId == NewMatch.LeagueId).ToList();
        NewMatch.HomeTeamId = NewMatch.HomeTeamList.FirstOrDefault()?.Id ?? 0;
        NewMatch.GuestTeamList = NewMatch.HomeTeamList.Where(t => t.Id != NewMatch.HomeTeamId).ToList();
        NewMatch.GuestTeamId = NewMatch.GuestTeamList.FirstOrDefault()?.Id ?? 0;
    }

    private async Task OnGuestTeamChanged(ChangeEventArgs e)
    {
        NewMatch.GuestTeamId = Convert.ToInt32(e.Value.ToString());
    }

    private async Task OnHomeTeamChanged(ChangeEventArgs e)
    {
        NewMatch.HomeTeamId = Convert.ToInt32(e.Value.ToString());
        NewMatch.GuestTeamList = NewMatch.HomeTeamList.Where(t => t.Id != NewMatch.HomeTeamId).ToList();
        NewMatch.GuestTeamId = NewMatch.GuestTeamList.FirstOrDefault()?.Id ?? 0;
    }

    private async Task OnRoundChanged(ChangeEventArgs e)
    {
        NewMatch.RoundId = Convert.ToInt32(e.Value.ToString());
    }

    private async Task OnRefereeChange(ChangeEventArgs e)
    {
        NewMatch.RefereeId = Convert.ToInt32(e.Value.ToString());
    }

    private async Task OnVenueChange(ChangeEventArgs e)
    {
        NewMatch.VenueId = Convert.ToInt32(e.Value.ToString());
    }
}
