@page "/createMatch"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Matches
@using VolleyLeague.Shared.Dtos.Teams
@inject IMatchOrganizerService matchOrganizerService
@inject ITeamService teamService
@inject NavigationManager NavigationManager

@attribute [Authorize(Roles = "Admin")]

<head>
    <link rel="stylesheet" href="/assets/css/custom-create-match.css" />
</head>

@if (!pageReady)
{
    <section id="loading_section" class="loading_section margin-top-xs">
        <div class="container">
            <div id="spinner"></div>
        </div>
    </section>
}
else
{
    <div class="account-main accountdtls filterd-items">
        <div class="login-form">
            <div class="section-title">
                <h2>Tworzenie meczu</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <EditForm Model="NewMatch" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-floating mb-4">
                            <Select id="seasonSelect" class="form-select" @onchange="OnSeasonChanged">
                                @foreach (var season in NewMatch.SeasonList)
                                {
                                    <option value="@season.Id">@season.Name</option>
                                }
                            </Select>
                            <label for="seasonSelect">Sezon</label>
                            <ValidationMessage For="@(() => NewMatch.SeasonId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="RoundSelect" class="form-control" @onchange="OnRoundChanged">
                                @foreach (var round in NewMatch.RoundList)
                                {
                                    <option value="@round.Id">@round.Name</option>
                                }
                            </Select>
                            <label for="RoundSelect">Runda</label>
                            <ValidationMessage For="@(() => NewMatch.RoundId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="leagueSelect" class="form-select" @onchange="OnLeagueChanged">
                                @foreach (var league in NewMatch.LeagueList)
                                {
                                    <option value="@league.Id">@league.Name</option>
                                }
                            </Select>
                            <label for="leagueSelect">Liga</label>
                            <ValidationMessage For="@(() => NewMatch.LeagueId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="HomeTeam" class="form-select" @onchange="OnHomeTeamChanged">
                                @foreach (var team in NewMatch.HomeTeamList)
                                {
                                    <option value="@team.Id">@team.Name</option>
                                }
                            </Select>
                            <label for="HomeTeam">Drużyna gospodarzy</label>
                            <ValidationMessage For="@(() => NewMatch.HomeTeamId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="GuestTeam" class="form-select"  @onchange="OnGuestTeamChanged">
                                @foreach (var team in NewMatch.GuestTeamList)
                                {
                                    <option value="@team.Id">@team.Name</option>
                                }
                            </Select>
                            <label for="GuestTeam">Drużyna gości</label>
                            <ValidationMessage For="@(() => NewMatch.GuestTeamId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="Referees" class="form-select" @onchange="OnRefereeChange">
                                @foreach (var referee in NewMatch.RefereeList)
                                {
                                    <option value="@referee.Id">@referee.Name</option>
                                }
                            </Select>
                            <label for="Referees">Sędzia</label>
                            <ValidationMessage For="@(() => NewMatch.RefereeId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <Select id="Venues" class="form-select"  @onchange="OnVenueChange">
                                @foreach (var venue in NewMatch.VenueList)
                                {
                                    <option value="@venue.Id">@venue.Name</option>
                                }
                            </Select>
                            <label for="Venues">Miejsce Meczu</label>
                            <ValidationMessage For="@(() => NewMatch.VenueId)" />
                        </div>

                        <div class="form-floating mb-4">
                            <input type="datetime-local" id="scheduleDateTime" class="form-control" @bind="NewMatch.Schedule" />
                            <label for="scheduleDateTime">Data i czas</label>
                            <ValidationMessage For="@(() => NewMatch.Schedule)" />
                        </div>

                        <div class="mb-4">
                            <button type="submit" class="btn btn-primary">Utwórz</button>
                        </div>
                    </EditForm>
                </div>
            </div>
        </div>
    </div>
}

@code {
    private NewMatchModel NewMatch = new NewMatchModel();
    private NewMatchDto NewMatchDto = new NewMatchDto();
    private List<RoundDto> AllRounds { get; set; } = new List<RoundDto>();
    private List<TeamSummaryDto> AllTeams { get; set; } = new List<TeamSummaryDto>();

    private bool pageReady = false;
    private string loadingError = "";

    private bool submitLoading = false;
    private string submitError = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var seasonsResult = await matchOrganizerService.GetSeasons();
            NewMatch.SeasonList = seasonsResult;
            NewMatch.SeasonId = NewMatch.SeasonList.FirstOrDefault()?.Id ?? 0;

            var roundsResult = await matchOrganizerService.GetRounds();
            AllRounds = roundsResult;
            NewMatch.RoundList = AllRounds.Where(r => r.SeasonId == NewMatch.SeasonId).ToList();
            NewMatch.RoundId = NewMatch.RoundList.FirstOrDefault()?.Id ?? 0;

            var leaguesResult = await matchOrganizerService.GetLeagues();
            NewMatch.LeagueList = leaguesResult;
            NewMatch.LeagueId = NewMatch.LeagueList.FirstOrDefault()?.Id ?? 0;

            var refereesResult = await matchOrganizerService.GetReferees();
            NewMatch.RefereeList = refereesResult;
            NewMatch.RefereeId = NewMatch.RefereeList.FirstOrDefault()?.Id ?? 0;

            var teamsResult = await teamService.GetAllTeams();
            AllTeams = teamsResult;
            await LoadTeamsForRound();

            var venueResult = await matchOrganizerService.GetVenues();
            NewMatch.VenueList = venueResult;
            NewMatch.VenueId = NewMatch.VenueList.FirstOrDefault()?.Id ?? 0;

            pageReady = true;
        }
        catch (Exception ex)
        {
            loadingError = $"Błąd podczas ładowania danych: {ex.Message}";
        }
    }

    private async Task HandleValidSubmit()
    {
        submitLoading = true;

        NewMatchDto.Schedule = NewMatch.Schedule;

        NewMatchDto.SeasonId = NewMatch.SeasonId;
        NewMatchDto.RoundId = NewMatch.RoundId;
        NewMatchDto.LeagueId = NewMatch.LeagueId;
        NewMatchDto.HomeTeamId = NewMatch.HomeTeamId;
        NewMatchDto.GuestTeamId = NewMatch.GuestTeamId;
        NewMatchDto.RefereeId = NewMatch.RefereeId;
        NewMatchDto.VenueId = NewMatch.VenueId;

        var submitResult = await matchOrganizerService.CreateMatch(NewMatchDto);

        if (submitResult)
        {
            NavigationManager.NavigateTo("/schedule");
        }
        else
        {
            submitError = "Wystąpił błąd podczas tworzenia meczu.";
        }

        submitLoading = false;
    }

    private async Task LoadTeamsForRound()
    {
        var teamsInRound = await matchOrganizerService.GetTeamsInRound(NewMatch.RoundId);
        var teamsInRoundSet = new HashSet<int>(teamsInRound);
        NewMatch.HomeTeamList = AllTeams
            .Where(t => t.LeagueId == NewMatch.LeagueId && !teamsInRoundSet.Contains(t.Id))
            .ToList();
        NewMatch.HomeTeamId = NewMatch.HomeTeamList.FirstOrDefault()?.Id ?? 0;
        NewMatch.GuestTeamList = NewMatch.HomeTeamList
            .Where(t => t.Id != NewMatch.HomeTeamId)
            .ToList();
        NewMatch.GuestTeamId = NewMatch.GuestTeamList.FirstOrDefault()?.Id ?? 0;
    }

    private void HandleInvalidSubmit()
    {

    }

    private async Task OnSeasonChanged(ChangeEventArgs e)
    {
        NewMatch.SeasonId = Convert.ToInt32(e.Value.ToString());
        NewMatch.RoundList = AllRounds.Where(r => r.SeasonId == NewMatch.SeasonId).ToList();
        NewMatch.RoundId = NewMatch.RoundList.FirstOrDefault()?.Id ?? 0;
        await LoadTeamsForRound();
    }

    private async Task OnLeagueChanged(ChangeEventArgs e)
    {
        NewMatch.LeagueId = Convert.ToInt32(e.Value.ToString());
        await LoadTeamsForRound();
    }

    private async Task OnGuestTeamChanged(ChangeEventArgs e)
    {
        NewMatch.GuestTeamId = Convert.ToInt32(e.Value.ToString());
    }

    private async Task OnHomeTeamChanged(ChangeEventArgs e)
    {
        NewMatch.HomeTeamId = Convert.ToInt32(e.Value.ToString());
        NewMatch.GuestTeamList = NewMatch.HomeTeamList.Where(t => t.Id != NewMatch.HomeTeamId).ToList();
        NewMatch.GuestTeamId = NewMatch.GuestTeamList.FirstOrDefault()?.Id ?? 0;
    }

    private async Task OnRoundChanged(ChangeEventArgs e)
    {
        NewMatch.RoundId = Convert.ToInt32(e.Value.ToString());
        await LoadTeamsForRound();
    }

    private async Task OnRefereeChange(ChangeEventArgs e)
    {
        NewMatch.RefereeId = Convert.ToInt32(e.Value.ToString());
    }

    private async Task OnVenueChange(ChangeEventArgs e)
    {
        NewMatch.VenueId = Convert.ToInt32(e.Value.ToString());
    }
}
