@page "/"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@using VolleyLeague.Shared.Dtos.Matches
@inject HttpClient Http
@inject IMatchService matchService
@inject ILogService logService
@inject ILocalStorageService _localStorageService
@inject AuthenticationStateProvider _authStateProvider
@inject AuthenticationStateProvider authStateProvider

@if (isLoading)
{
    <div class="loading-spinner">Loading...</div>
}
else
{
    @if (!cookiesAccepted)
    {
        <div class="cookie-consent-overlay">
            <div class="cookie-consent-popup">
                <p>
                    Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej.
                    <a href="/cookie-policy" class="btn-link">Dowiedz się więcej</a>
                </p>
                <button class="btn" @onclick="AcceptCookies">Akceptuję</button>
            </div>
        </div>
    }
    else
    {
        <section class="rts-trending-news-section volleyball">
            <div class="container">
                <div class="section-inner">
                    <div class="row">
                        @if (_articles != null && _articles.Count() > 1)
                        {
                            var firstArticle = _articles[0];
                            var secondArticle = _articles[1];
                            var thirdArticle = _articles[2];
                            string imageSrc = ConvertImageToBase64(firstArticle.Image);

                            <div class="col-lg-6">
                                <div class="item">
                                    <div class="image-area"><img src="@imageSrc" alt=""></div>
                                    <div class="bottom-content">
                                        <span class="blog-category-tag">Aug 02, 2023</span>
                                        <div class="gallery-title">
                                            <a href="/article/@firstArticle.Id">@firstArticle.Title</a>
                                        </div>
                                        <div class="author-info">
                                            <div class="content">
                                                <a href="/article/@firstArticle.Id" class="read-more">Więcej</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6">
                                <div class="right-side-items">
                                    <div class="rts-post-small">
                                        <a href="/article/@secondArticle.Id" class="gallery-picture"><img src="assets/images/blog/news37.jpg" alt=""></a>
                                        <div class="bottom-content">
                                            <span class="blog-category-tag">Aug 02, 2023</span>
                                            <div class="gallery-title">
                                                <a href="/article/@secondArticle.Id">@secondArticle.Title</a>
                                            </div>
                                            <div class="author-info">
                                                <div class="content">
                                                    <a href="/article/@secondArticle.Id" class="read-more">Więcej</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="rts-post-small">
                                        <a href="/article/@thirdArticle.Id" class="gallery-picture"><img src="assets/images/blog/news38.jpg" alt=""></a>
                                        <div class="bottom-content">
                                            <span class="blog-category-tag">Aug 02, 2023</span>
                                            <div class="gallery-title">
                                                <a href="/article/@thirdArticle.Id">@thirdArticle.Title</a>
                                            </div>
                                            <div class="author-info">
                                                <div class="content">
                                                    <a href="/article/@thirdArticle.Id" class="read-more">Więcej</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>

        <section class="rts-player-static baseball volleyball">
            <div class="container">
                <div class="section-inner">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="left-side-content">
                                <div class="content-area">
                                    <div class="stat-table">
                                        <div class="table-area">
                                            <h3 class="top">Pierwsza Liga BLS</h3>
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr class="head-tr">
                                                        <th scope="col">LP</th>
                                                        <th scope="col">TEAM</th>
                                                        <th scope="col">Points</th>
                                                        <th scope="col">W</th>
                                                        <th scope="col">P</th>
                                                        <th scope="col">SW</th>
                                                        <th scope="col">SL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (StandingsListShort != null)
                                                    {
                                                        @foreach (var team in StandingsListShort)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    <span class="position-number">@StandingsListShort.IndexOf(team) + 1</span>
                                                                </td>
                                                                <td>
                                                                    @{
                                                                        var imgSrc = team.Team.Logo != null ? $"data:image/png;base64,{Convert.ToBase64String(team.Team.Logo)}" : "/assets/images/Logo_alternative.png";
                                                                    }
                                                                    <div style="display: flex; align-items: center;">
                                                                        <img src="@imgSrc" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px;">
                                                                        <a href="/team/@team.Team.Id/" class="team-link">@team.Team.Name</a>
                                                                    </div>
                                                                </td>
                                                                <td><span class="win-count">@team.Points</span></td>
                                                                <td><span class="win-count">@team.MatchesWon</span></td>
                                                                <td><span class="win-count">@team.MatchesLost</span></td>
                                                                <td><span class="win-count">@team.SetsWon</span></td>
                                                                <td><span class="win-count">@team.SetsLost</span></td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="right-side-content">
                                <div class="inner">
                                    <h3 class="top">Najbliższe mecze</h3>
                                    <ul>
                                        @if (nextMatches != null)
                                        {
                                            @foreach (var match in nextMatches)
                                            {
                                                <li class="match-wrapper">
                                                    <div class="logo">
                                                        <img src="@GetTeamLogoSrc(match.HomeTeam.Logo)" alt="">
                                                    </div>
                                                    <div class="content">
                                                        <p class="date">@match.Schedule.ToString("MMMM dd, yyyy")</p>
                                                        <p class="result">@match.Schedule.ToString("h:mm tt")</p>
                                                        <h3 class="team">@match.HomeTeam.Name <span>VS</span> @match.GuestTeam.Name</h3>
                                                    </div>
                                                    <div class="logo">
                                                        <img src="@GetTeamLogoSrc(match.GuestTeam.Logo)" alt="">
                                                    </div>
                                                </li>
                                            }
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="rts-match-result-section nfl volleyball">
            <div class="container">
                <div class="section-title-area text-center">
                    <div class="title-watermark">Ostatni mecz</div>
                </div>
                <div class="section-inner">
                    @if (lastMatch != null)
                    {
                        <div class="logo-area">
                            <img src="@GetTeamLogoSrc(lastMatch.HomeTeam.Logo)" alt="">
                        </div>
                        <div class="inner-middle">
                            <div class="result">
                                <div class="left-side">
                                    <div class="content">
                                        <span class="tag">Win</span>
                                        <h3 class="heading">@lastMatch.HomeTeam.Name</h3>
                                    </div>
                                    <div class="goal">@lastMatch.Team1Score</div>
                                </div>
                                <div class="right-side">
                                    <div class="goal">@lastMatch.Team2Score</div>
                                    <div class="content">
                                        <span class="tag">Loss</span>
                                        <h3 class="heading">@lastMatch.GuestTeam.Name</h3>
                                    </div>
                                </div>
                            </div>
                            <p class="desc">@lastMatch.MatchInfo</p>
                        </div>
                        <div class="logo-area">
                            <img src="@GetTeamLogoSrc(lastMatch.GuestTeam.Logo)" alt="">
                        </div>
                    }
                    else
                    {
                        <p>Nie ma meczu w najbliższym czasie</p>
                    }
                </div>
            </div>
        </section>

        <div class="rts-gallery-section home-four nfl volleyball">
            <div class="container" style="max-width: 1200px; margin: 0 auto; padding: 0 20px;">
                <div class="top-wrap">
                    <div class="section-title-area section-title-area1" style="text-align: center; margin-bottom: 40px;">
                        <h1 class="title">MEDIA</h1>
                    </div>
                </div>
                <div class="filtered-items home">
                    <div class="gallery-grid" style="display: flex; gap: 20px;">
                        <div class="item" style="position: relative; overflow: hidden; flex: 1; height: 500px;">
                            <div class="video-section-inner text-center" style="width: 100%; height: 100%;">
                                <div class="play-video">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/DID8UK3gLj8" frameborder="0" allowfullscreen style="width: 100%; height: 400px; border: none;"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="position: relative; overflow: hidden; flex: 1; height: 500px;">
                            <div class="video-section-inner text-center" style="width: 100%; height: 100%;">
                                <div class="play-video">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/ZgunK7Wgfvc" frameborder="0" allowfullscreen style="width: 100%; height: 400px; border: none;"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="item" style="position: relative; overflow: hidden; flex: 1; height: 500px;">
                            <div class="video-section-inner text-center" style="width: 100%; height: 100%;">
                                <div class="play-video">
                                    <iframe width="100%" height="100%" src="https://www.youtube.com/embed/imtHlApQ-EU" frameborder="0" allowfullscreen style="width: 100%; height: 400px; border: none;"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}

<style>
    .cookie-consent-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cookie-consent-popup {
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
        max-width: 500px;
        width: 90%;
    }

        .cookie-consent-popup p {
            margin: 0 0 20px;
            font-size: 16px;
        }

        .cookie-consent-popup .btn {
            margin-top: 10px;
            padding: 10px 20px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
        }

        .cookie-consent-popup .btn-link {
            color: #007bff;
            text-decoration: underline;
            cursor: pointer;
            margin-left: 10px;
        }

            .cookie-consent-popup .btn-link:hover {
                color: #0056b3;
            }

    .loading-spinner {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-size: 24px;
    }
</style>

@code {
    private MatchSummaryDto lastMatch;
    public List<MatchSummaryDto> matchResults = new List<MatchSummaryDto>();
    private List<StandingsDto> StandingsList = new List<StandingsDto>();
    private List<StandingsDto> StandingsListShort = new List<StandingsDto>();
    private ScheduleFilter Filter = new ScheduleFilter();
    private List<ArticleDto> _articles;
    private IEnumerable<LogDto> _logs;
    public bool pageReady = false;
    public bool standingsLoad = false;
    public bool articlesLoad = false;
    public bool matchResultsLoad = false;
    private bool cookiesAccepted = false;
    private bool isLoading = true;
    private List<MatchSummaryDto> nextMatches;

    private class ScheduleFilter
    {
        public int SeasonId { get; set; } = 37;
        public int LeagueId { get; set; } = 1;
    }

    protected override async Task OnInitializedAsync()
    {
        cookiesAccepted = await _localStorageService.GetItemAsync<bool>("cookiesAccepted");
        isLoading = false;

        if (cookiesAccepted)
        {
            StandingsListShort = await matchService.GetStandings(37, 1);
            var token = await _localStorageService.GetItemAsStringAsync("token");
            if (!string.IsNullOrWhiteSpace(token))
            {
                var tokenHandler = new JwtSecurityTokenHandler();
                var jwtToken = tokenHandler.ReadJwtToken(token);

                if (jwtToken.ValidTo < DateTime.UtcNow)
                {
                    var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                    await customAuthStateProvider.NotifyUserLogout();
                }
                else
                {
                    Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
                }
            }

            await Task.WhenAll(LoadMatchResults(), LoadArticles(), LoadStandings(), LoadNextMatches(), LoadLastMatch());
        }
    }

    private async Task LoadStandings()
    {
        StandingsList = await matchService.GetStandings(Filter.SeasonId, Filter.LeagueId);
        standingsLoad = true;
        UpdatePageReadiness();
    }

    private async Task LoadArticles()
    {
        var result = await Http.GetAsync($"/api/Article/GetArticlesPerPage/{_currentPage}");
        if (result.IsSuccessStatusCode)
        {
            _articles = await result.Content.ReadFromJsonAsync<List<ArticleDto>>();
            articlesLoad = true;
            UpdatePageReadiness();
        }

        _logs = await logService.GetLogs();
    }

    private async Task LoadMatchResults()
    {
        matchResults = await matchService.GetMatches(Filter.SeasonId, Filter.LeagueId, 1237);
        matchResultsLoad = true;
        UpdatePageReadiness();
    }

    private async Task LoadNextMatches()
    {
        nextMatches = await matchService.GetNextTwoMatches();
    }

    private async Task LoadLastMatch()
    {
        lastMatch = (await matchService.GetLastMatch()).FirstOrDefault();
    }

    private void UpdatePageReadiness()
    {
        pageReady = standingsLoad && articlesLoad && matchResultsLoad;
    }

    private int _currentPage = 1;
    private int _articlesPerPage = 5;

    private async Task LoadNextPage()
    {
        _currentPage++;
        await LoadArticles();
    }

    private async Task LoadPreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadArticles();
        }
    }

    private async Task AcceptCookies()
    {
        cookiesAccepted = true;
        await _localStorageService.SetItemAsync("cookiesAccepted", true);
        isLoading = true;

        StandingsListShort = await matchService.GetStandings(37, 1);
        var token = await _localStorageService.GetItemAsStringAsync("token");
        if (!string.IsNullOrWhiteSpace(token))
        {
            var tokenHandler = new JwtSecurityTokenHandler();
            var jwtToken = tokenHandler.ReadJwtToken(token);

            if (jwtToken.ValidTo < DateTime.UtcNow)
            {
                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                await customAuthStateProvider.NotifyUserLogout();
            }
            else
            {
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            }
        }

        await Task.WhenAll(LoadMatchResults(), LoadArticles(), LoadStandings(), LoadNextMatches(), LoadLastMatch());
        isLoading = false;
    }

    private string GetTeamLogoSrc(byte[] logo)
    {
        return logo != null ? $"data:image/png;base64,{Convert.ToBase64String(logo)}" : "/assets/images/Logo_alternative.png.";
    }

    private string ConvertImageToBase64(byte[] image)
    {
        return image != null ? $"data:image/jpeg;base64,{Convert.ToBase64String(image)}" : string.Empty;
    }
}
