@page "/"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@using VolleyLeague.Shared.Dtos.Matches
@inject HttpClient Http
@inject IMatchService matchService
@inject ILogService logService
@inject ILocalStorageService _localStorageService
@inject AuthenticationStateProvider _authStateProvider
@inject AuthenticationStateProvider authStateProvider

@if (!cookiesAccepted)
{
    <div class="cookie-consent-banner">
        <p>
            Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej.
            <a href="/cookie-policy" class="btn btn-link">Dowiedz się więcej</a>
            <button class="btn btn-primary" @onclick="AcceptCookies">Akceptuję</button>
        </p>
    </div>
}

@if (!pageReady)
{
    <section id="category_section" style="margin-top: 150px" class="category_section">
        <div class="container">
            <div id="spinner"></div>
        </div>
    </section>
}
else
{
    <section id="category_section" class="category_section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="category_section mobile">
                        <div class="article_title header_purple">
                            <h2><a href="category.html" target="_self">Informacje</a></h2>
                        </div>
                        <div class="category_article_wrapper">
                            <div class="row">
                                @if (_articles != null && _articles.Count() > 1)
                                {
                                    var articlesToShow = _articles.Skip(0).Take(10);
                                    foreach (var article in articlesToShow)
                                    {
                                        string imageBase64 = Convert.ToBase64String(article.Image);
                                        string imageSrc = $"data:image/jpeg;base64,{imageBase64}";

                                        <div class="col-md-6" style="margin-bottom: 20px;">
                                            <div class="media">
                                                <div class="media-left">
                                                    <a href="/article/@article.Id" target="_self">
                                                        <img class="media-object img-fixed-size" src="@imageSrc" alt="article image">
                                                    </a>
                                                </div>
                                                <div class="media-body">
                                                    <span class="tag purple">Informacje</span>
                                                    <h3 class="media-heading"><a href="/article/@article.Id" target="_self">@article.Title</a></h3>
                                                    <span class="media-date"><a href="#">@article.CreationDate.ToString("ddMMM- yyyy")</a>, </span>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                        <p class="divider"><a href="#">Więcej&nbsp;&raquo;</a></p>
                    </div>
                </div>
                <!-- Left Section -->

                <div class="col-md-4">
                    <div class="widget">
                        <div class="widget_title widget_black">
                            <h2><a href="#">Aktualności</a></h2>
                        </div>
                        @if (_articles != null)
                        {
                            @foreach (var log in _logs)
                            {
                                <div class="media">
                                    <div class="media-body">
                                        <h3 class="media-heading">
                                            <a href="@log.Link" target="_self">@log.Description</a>
                                        </h3>
                                        <span class="media-date">
                                            <a href="@log.Link">@log.Date.ToString("ddMMM- yyyy")</a>
                                        </span>
                                    </div>
                                </div>
                            }
                        }
                        <p class="widget_divider"><a href="#" target="_self">Więcej&nbsp;&raquo;</a></p>
                    </div>
                </div>
                <!-- Right Section -->
            </div>
        </div>
    </section>
}

<style>
    .cookie-consent-banner {
        background-color: #333;
        color: white;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        z-index: 1000;
    }

    .tables-container {
        display: flex;
        justify-content: space-around;
    }

    #spinner {
        width: 40px;
        height: 40px;
        border: 5px solid #ccc;
        border-top: 5px solid #007bff;
        border-radius: 50%;
        margin: 50px auto;
    }

    .table-responsive {
        flex: 1; /* Każda tabela będzie miała równą szerokość */
        max-width: 50%; /* Opcjonalnie ogranicza szerokość każdej tabeli do 50% kontenera */
        overflow-x: auto; /* Zapewnia przewijanie, jeśli tabela jest za szeroka */
    }

    table {
        width: 100%; /* Szerokość tabeli na cały kontener */
    }

        table th, table td, table tr {
            border: none;
            padding: 4px;
            color: black; /* Ustawia kolor tekstu na czarny dla wszystkich komórek tabeli */
        }
</style>

<script>
    var spinner = document.getElementById('spinner');
    var angle = 0;
    setInterval(function () {
        angle += 20; // Zwiększ kąt o 20 stopni
        spinner.style.transform = 'rotate(' + angle + 'deg)';
    }, 100); // Aktualizuj co 100 milisekund
</script>

@code {
    public List<MatchSummaryDto> matchResults = new List<MatchSummaryDto>();
    private List<StandingsDto> StandingsList = new List<StandingsDto>();
    private ScheduleFilter Filter = new ScheduleFilter();
    private IEnumerable<ArticleDto> _articles;
    private IEnumerable<LogDto> _logs;
    public bool pageReady = false;
    public bool standingsLoad = false;
    public bool articlesLoad = false;
    public bool matchResultsLoad = false;
    private bool cookiesAccepted = false;

    private class ScheduleFilter
    {
        public int SeasonId { get; set; } = 37;
        public int LeagueId { get; set; } = 1;
    }

    protected override async Task OnInitializedAsync()
    {
        var token = await _localStorageService.GetItemAsStringAsync("token");
        if (!string.IsNullOrWhiteSpace(token))
        {
            var tokenHandler = new JwtSecurityTokenHandler();
            var jwtToken = tokenHandler.ReadJwtToken(token);

            if (jwtToken.ValidTo < DateTime.UtcNow)
            {
                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                await customAuthStateProvider.NotifyUserLogout();
            }
            else
            {
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            }
        }

        cookiesAccepted = await _localStorageService.GetItemAsync<bool>("cookiesAccepted");

        await Task.WhenAll(LoadMatchResults(), LoadArticles(), LoadStandings());
    }

    private async Task LoadStandings()
    {
        StandingsList = await matchService.GetStandings(Filter.SeasonId, Filter.LeagueId);
        standingsLoad = true;
        UpdatePageReadiness();
    }

    private async Task LoadArticles()
    {
        var result = await Http.GetAsync($"/api/Article/GetArticlesPerPage/{_currentPage}");
        if (result.IsSuccessStatusCode)
        {
            _articles = await result.Content.ReadFromJsonAsync<IEnumerable<ArticleDto>>();
            articlesLoad = true;
            UpdatePageReadiness();
        }

        _logs = await logService.GetLogs();
    }

    private async Task LoadMatchResults()
    {
        matchResults = await matchService.GetMatches(Filter.SeasonId, Filter.LeagueId, 1237);
        matchResultsLoad = true;
        UpdatePageReadiness();
    }

    private void UpdatePageReadiness()
    {
        pageReady = standingsLoad && articlesLoad && matchResultsLoad;
    }

    private int _currentPage = 1;
    private int _articlesPerPage = 5; // Zmienna używana w przyszłości dla funkcji paginacji

    private async Task LoadNextPage()
    {
        _currentPage++;
        await LoadArticles();
    }

    private async Task LoadPreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadArticles();
        }
    }

    private async Task AcceptCookies()
    {
        cookiesAccepted = true;
        await _localStorageService.SetItemAsync("cookiesAccepted", true);
    }
}
