@page "/"
@using Blazored.LocalStorage
@using Microsoft.AspNetCore.Components.Authorization
@using System.IdentityModel.Tokens.Jwt
@using VolleyLeague.Client.Blazor.Authentication
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@using VolleyLeague.Shared.Dtos.Matches
@inject HttpClient Http
@inject IMatchService matchService
@inject ILogService logService
@inject ILocalStorageService _localStorageService
@inject AuthenticationStateProvider _authStateProvider
@inject AuthenticationStateProvider authStateProvider

<div class="banner banner1 volleyball">
    <div class="swiper bannerSlide2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="banner-single banner-single-1 banner-bg">
                    <div class="container">
                        <div class="banner-content">
                            <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                            <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                            <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                            <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-single banner-single-1_2 banner-bg">
                    <div class="container">
                        <div class="banner-content">
                            <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                            <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                            <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                            <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="banner-single banner-single-3 banner-bg">
                    <div class="container">
                        <div class="banner-content">
                            <span class="pretitle">Witaj na stronie ligasiatkowki.pl</span>
                            <h1 class="banner-heading">LIGASIATKOWKI.PL</h1>
                            <p class="desc">Białołęcka Liga Siatkówki to największe amatorskie rozgrywki siatkarskie w Polsce</p>
                            <div class="shape-area"><img src="assets/images/banner/circle.png" alt=""></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-pagination-area">
            <span>01</span>
            <div class="swiper-pagination">
            </div>
            <span>03</span>
        </div>
    </div>
</div>

<section class="rts-trending-news-section volleyball">
    <div class="container">
        <div class="section-inner">
            <div class="row">
                @if (_articles != null && _articles.Count() > 1)
                {
                    var secondArticle = _articles[1];
                    var thirdArticle = _articles[2];
                    var firstArticle = _articles.First();
                    <div class="col-lg-6">
                        <div class="item">
                            <div class="image-area"><img src="assets/images/blog/news36.jpg" alt=""></div>
                            <div class="bottom-content">
                                <span class="blog-catagory-tag">Aug 02, 2023 <span></span></span>
                                <div class="gallery-title">
                                    <a href="blog-details.html">@firstArticle.Title</a>
                                </div>
                                <div class="author-info">
                                    <div class="content">
                                        <a href="blog-details.html" class="read-more">Więcej</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="right-side-items">
                            <div class="rts-post-small">
                                <a href="blog-details.html" class="gallery-picture"><img src="assets/images/blog/news37.jpg" alt=""></a>
                                <div class="bottom-content">
                                    <span class="blog-catagory-tag">Aug 02, 2023 <span></span></span>
                                    <div class="gallery-title">
                                        <a href="blog-details.html">@secondArticle.Title</a>
                                    </div>
                                    <div class="author-info">
                                        <div class="content">
                                            <a href="blog-details.html" class="read-more">Więcej</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rts-post-small">
                                <a href="blog-details.html" class="gallery-picture"><img src="assets/images/blog/news38.jpg" alt=""></a>
                                <div class="bottom-content">
                                    <span class="blog-catagory-tag">Aug 02, 2023 <span></span>@thirdArticle.Title</span>
                                    <div class="gallery-title">
                                        <a href="blog-details.html">@thirdArticle.Title</a>
                                    </div>
                                    <div class="author-info">
                                        <div class="content">
                                            <a href="blog-details.html" class="read-more">Więcej</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="rts-player-static baseball volleyball">
    <div class="container">
        <div class="section-inner">
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-side-content">
                        <div class="content-area">
                            <div class="stat-table">
                                <div class="table-area">
                                    <h3 class="top">Pierwsza Liga BLS</h3>
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr class="head-tr">
                                                <th scope="col">LP</th>
                                                <th scope="col">TEAM</th>
                                                <th scope="col">Points</th>
                                                <th scope="col">W</th>
                                                <th scope="col">P</th>
                                                <th scope="col">SW</th>
                                                <th scope="col">SL</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (StandingsListShort != null)
                                            {
                                                for (int i = 0; i < StandingsListShort.Count; i++)
                                                {
                                                    var team = StandingsListShort[i];
                                                    <tr>
                                                        <td>
                                                            <span class="position-number">
                                                                @{
                                                                    var position = i + 1;
                                                                }@position
                                                            </span>
                                                        </td>
                                                        <td>
                                                            @{
                                                                var imgSrc = team.Team.Logo != null ? $"data:image/png;base64,{Convert.ToBase64String(team.Team.Logo)}" : "/assets/images/Logo_alternative.png";
                                                            }
                                                            <div style="display: flex; align-items: center;">
                                                                <img src="@imgSrc" alt="Logo" style="width: 30px; height: 30px; margin-right: 10px;">
                                                                <a href="/team/@team.Team.Id/" class="team-link">@team.Team.Name</a>
                                                            </div>
                                                        </td>
                                                        <td><span class="win-count">@team.Points</span></td>
                                                        <td><span class="win-count">@team.MatchesWon</span></td>
                                                        <td><span class="win-count">@team.MatchesLost</span></td>
                                                        <td><span class="win-count">@team.SetsWon</span></td>
                                                        <td><span class="win-count">@team.SetsLost</span></td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-side-content">
                        <div class="inner">
                            <h3 class="top">Najbliższe mecze</h3>
                            <ul>
                                @if (nextMatches != null)
                                {
                                    @foreach (var match in nextMatches)
                                    {
                                        <li class="match-wrapper">
                                            <div class="logo">
                                                <img src="@GetTeamLogoSrc(match.HomeTeam.Logo)" alt="">
                                            </div>
                                            <div class="content">
                                                <p class="date">@match.Schedule.ToString("MMMM dd, yyyy")</p>
                                                <p class="result">@match.Schedule.ToString("h:mm tt")</p>
                                                <h3 class="team">@match.HomeTeam.Name <span>VS</span> @match.GuestTeam.Name</h3>
                                            </div>
                                            <div class="logo">
                                                <img src="@GetTeamLogoSrc(match.GuestTeam.Logo)" alt="">
                                            </div>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="rts-match-result-section nfl volleyball">
    <div class="container">
        <div class="section-title-area text-center">
            <div class="title-watermark">Ostatni mecz</div>
        </div>
        <div class="section-inner">
            @if (lastMatch != null)
            {
                <div class="logo-area">
                    <img src="@GetTeamLogoSrc(lastMatch.HomeTeam.Logo)" alt="">
                </div>
                <div class="inner-middle">
                    <div class="result">
                        <div class="left-side">
                            <div class="content">
                                <span class="tag">Win</span>
                                <h3 class="heading">@lastMatch.HomeTeam.Name</h3>
                            </div>
                            <div class="goal">@lastMatch.Team1Score</div>
                        </div>
                        <div class="right-side">
                            <div class="goal">@lastMatch.Team2Score</div>
                            <div class="content">
                                <span class="tag">Loss</span>
                                <h3 class="heading">@lastMatch.GuestTeam.Name</h3>
                            </div>
                        </div>
                    </div>
                    <p class="desc">@lastMatch.MatchInfo</p>
                </div>
                <div class="logo-area">
                    <img src="@GetTeamLogoSrc(lastMatch.GuestTeam.Logo)" alt="">
                </div>
            }
            else
            {
                <p>Nie ma meczu w najbliższym czasie</p>
            }
        </div>
    </div>
</section>


<div class="rts-gallery-section home-four nfl volleyball">
    <div class="container">
        <div class="top-wrap">
            <div class="section-title-area section-title-area1">
                <h1 class="title">MEDIA</h1>
            </div>
            <div class="filter-button-group">
                <button class="filter-btn active" data-show=".home">ALL</button>
                <button class="filter-btn" data-show=".highlights">HIGHLIGHTS</button>
                <button class="filter-btn" data-show=".interview">INTERVIEWS</button>
                <button class="filter-btn" data-show=".video">VIDEO</button>
                <button class="filter-btn" data-show=".audio">AUDIO</button>
            </div>
        </div>
        <div class="filterd-items home">
            <div class="gallery-grid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="item">
                            <a href="blog-details.html" class="gallery-picture"></a>
                            <div class="video-section-inner text-center">
                                <div class="play-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=G4t6TqG5LM8">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post three">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two four">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filterd-items highlights hide">
            <div class="gallery-grid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="item">
                            <a href="blog-details.html" class="gallery-picture"></a>
                            <div class="video-section-inner text-center">
                                <div class="play-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=G4t6TqG5LM8">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post three">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two four">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filterd-items interview hide">
            <div class="gallery-grid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="item">
                            <a href="blog-details.html" class="gallery-picture"></a>
                            <div class="video-section-inner text-center">
                                <div class="play-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=G4t6TqG5LM8">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post three">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two four">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filterd-items video hide">
            <div class="gallery-grid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="item">
                            <a href="blog-details.html" class="gallery-picture"></a>
                            <div class="video-section-inner text-center">
                                <div class="play-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=G4t6TqG5LM8">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post three">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two four">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filterd-items audio hide">
            <div class="gallery-grid">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="item">
                            <a href="blog-details.html" class="gallery-picture"></a>
                            <div class="video-section-inner text-center">
                                <div class="play-video">
                                    <a class="popup-video" href="https://www.youtube.com/watch?v=G4t6TqG5LM8">
                                        <i class="fas fa-play"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="item small-post three">
                            <span class="post-icon">
                                <img src="assets/images/icons/volume.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                        <div class="item small-post two four">
                            <span class="post-icon">
                                <img src="assets/images/icons/camera.svg" alt="">
                            </span>
                            <a href="blog-details.html" class="gallery-picture"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@if (!cookiesAccepted)
{
    <div class="cookie-consent-banner">
        <p>
            Ta strona używa ciasteczek (cookies), dzięki którym nasz serwis może działać lepiej.
            <a href="/cookie-policy" class="btn btn-link">Dowiedz się więcej</a>
            <button class="btn btn-primary" @onclick="AcceptCookies">Akceptuję</button>
        </p>
    </div>
}

<script>
    var swiper = new Swiper('.bannerSlide2', {
        pagination: {
            el: '.swiper-pagination',
            type: 'bullets',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        loop: true,
        autoplay: {
            delay: 5000,
            disableOnInteraction: false,
        },
    });

    var spinner = document.getElementById('spinner');
    var angle = 0;
    setInterval(function () {
        angle += 20;
        spinner.style.transform = 'rotate(' + angle + 'deg)';
    }, 100);
</script>

@code {
    private MatchSummaryDto lastMatch;
    public List<MatchSummaryDto> matchResults = new List<MatchSummaryDto>();
    private List<StandingsDto> StandingsList = new List<StandingsDto>();
    private List<StandingsDto> StandingsListShort = new List<StandingsDto>();
    private ScheduleFilter Filter = new ScheduleFilter();
    private List<ArticleDto> _articles;
    private IEnumerable<LogDto> _logs;
    public bool pageReady = false;
    public bool standingsLoad = false;
    public bool articlesLoad = false;
    public bool matchResultsLoad = false;
    private bool cookiesAccepted = false;
    private List<MatchSummaryDto> nextMatches;

    private class ScheduleFilter
    {
        public int SeasonId { get; set; } = 37;
        public int LeagueId { get; set; } = 1;
    }

    protected override async Task OnInitializedAsync()
    {
        StandingsListShort = await matchService.GetStandings(37, 1);
        var token = await _localStorageService.GetItemAsStringAsync("token");
        if (!string.IsNullOrWhiteSpace(token))
        {
            var tokenHandler = new JwtSecurityTokenHandler();
            var jwtToken = tokenHandler.ReadJwtToken(token);

            if (jwtToken.ValidTo < DateTime.UtcNow)
            {
                var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
                await customAuthStateProvider.NotifyUserLogout();
            }
            else
            {
                Http.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", token);
            }
        }

        cookiesAccepted = await _localStorageService.GetItemAsync<bool>("cookiesAccepted");

        await Task.WhenAll(LoadMatchResults(), LoadArticles(), LoadStandings(), LoadNextMatches(), LoadLastMatch());
    }

    private async Task LoadStandings()
    {
        StandingsList = await matchService.GetStandings(Filter.SeasonId, Filter.LeagueId);
        standingsLoad = true;
        UpdatePageReadiness();
    }

    private async Task LoadArticles()
    {
        var result = await Http.GetAsync($"/api/Article/GetArticlesPerPage/{_currentPage}");
        if (result.IsSuccessStatusCode)
        {
            _articles = await result.Content.ReadFromJsonAsync<List<ArticleDto>>();
            articlesLoad = true;
            UpdatePageReadiness();
        }

        _logs = await logService.GetLogs();
    }

    private async Task LoadMatchResults()
    {
        matchResults = await matchService.GetMatches(Filter.SeasonId, Filter.LeagueId, 1237);
        matchResultsLoad = true;
        UpdatePageReadiness();
    }

    private async Task LoadNextMatches()
    {
        nextMatches = await matchService.GetNextTwoMatches();
    }

    private async Task LoadLastMatch()
    {
        lastMatch = (await matchService.GetLastMatch()).FirstOrDefault();
    }

    private void UpdatePageReadiness()
    {
        pageReady = standingsLoad && articlesLoad && matchResultsLoad;
    }

    private int _currentPage = 1;
    private int _articlesPerPage = 5;

    private async Task LoadNextPage()
    {
        _currentPage++;
        await LoadArticles();
    }

    private async Task LoadPreviousPage()
    {
        if (_currentPage > 1)
        {
            _currentPage--;
            await LoadArticles();
        }
    }

    private async Task AcceptCookies()
    {
        cookiesAccepted = true;
        await _localStorageService.SetItemAsync("cookiesAccepted", true);
    }

    private string GetTeamLogoSrc(byte[] logo)
    {
        return logo != null ? $"data:image/png;base64,{Convert.ToBase64String(logo)}" : "/assets/images/Logo_alternative.png.";
    }
}