@page "/manageTeams"
@using Microsoft.AspNetCore.Authorization
@using VolleyLeague.Shared.Dtos.Teams
@using VolleyLeague.Client.Blazor.Services
@inject ITeamService teamService
@inject IMatchService matchService

@attribute [Authorize(Roles = "Admin")]

@if (!pageReady)
{
    <Preloader />
}
else
{
    <div class="account-main accountdtls filterd-items">
        <div class="login-form">
            <div class="section-title">
                <h2>Zarządzaj drużynami</h2>

                <div class="legend margin-top-xs">
                    <p><strong>Legenda:</strong></p>
                    <ul>
                        <li><strong>ZGŁ:</strong> Zgłoszony?</li>
                        <li><strong>ZA:</strong> Zaakceptowany</li>
                        <li><strong>NL:</strong> Nazwa ligi</li>
                        <li><strong>KP:</strong> Korekta punktów</li>
                    </ul>
                </div>
            </div>
            <div class="card">
                <div class="">
                    @if (extendedTeams == null)
                    {
                        <div class="d-flex justify-content-center">
                            <div id="spinner"></div>
                        </div>
                    }
                    else
                    {
                        <div class="table-responsive">
                            <table class="table table-bordered font-size-decrease" >
                                <thead class="thead-dark text-center">
                                    <tr class="head-tr">
                                        <th scope="col">Id drużyny</th>
                                        <th scope="col">Nazwa</th>
                                        <th scope="col">ZGŁ</th>
                                        <th scope="col">ZA</th>
                                        <th scope="col">NL</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Telefon</th>
                                        <th scope="col">Liczba zmian</th>
                                        <th scope="col">KP</th>
                                        <th scope="col">Data utworzenia</th>
                                        <th scope="col">Edytuj</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var team in extendedTeams)
                                    {
                                        <tr class="text-center">
                                            <td>@team.Id</td>
                                            <td class="wrap-text">
                                                @if (team.IsEditing)
                                                {
                                                    <input class="form-control" @bind="team.Name" maxlength="15" />
                                                }
                                                else
                                                {
                                                    <span class="truncated" title="@team.Name">@team.Name</span>
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input type="checkbox" @bind="team.IsReportedToPlay" />
                                                }
                                                else
                                                {
                                                    @(team.IsReportedToPlay ? "Tak" : "Nie")
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input type="checkbox" @bind="team.Accepted" />
                                                }
                                                else
                                                {
                                                    @(team.Accepted ? "Tak" : "Nie")
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <select class="form-select" @bind="team.LeagueId">
                                                        @foreach (var league in leagues)
                                                        {
                                                            <option value="@league.Id">@league.Name</option>
                                                        }
                                                    </select>
                                                }
                                                else
                                                {
                                                    @team.LeagueName
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input class="form-control" @bind="team.Email" />
                                                }
                                                else
                                                {
                                                    @team.Email
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input class="form-control" @bind="team.Phone" />
                                                }
                                                else
                                                {
                                                    @team.Phone
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input type="number" class="form-control" @bind="team.ChangeCount" />
                                                }
                                                else
                                                {
                                                    @team.ChangeCount
                                                }
                                            </td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <input type="number" class="form-control" @bind-value="team.PointCorrection" />
                                                }
                                                else
                                                {
                                                    @team.PointCorrection
                                                }
                                            </td>
                                            <td>@team.CreationDate.ToString("yyyy-MM-dd")</td>
                                            <td>
                                                @if (team.IsEditing)
                                                {
                                                    <button class="btn btn-secondary small-padding" @onclick="() => CancelEdit(team)">Anuluj</button>
                                                    <button class="btn btn-success small-padding" @onclick="() => UpdateTeam(team)">Zapisz</button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-primary small-padding" @onclick="() => EditTeam(team)">Edytuj</button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

@code {
    private List<ExtendedTeamDto> extendedTeams;
    private List<LeagueDto> leagues;
    private bool pageReady = false;

    protected override async Task OnInitializedAsync()
    {
        var extendedTeamsWithLeague = await GetTeamProfile();
        extendedTeams = extendedTeamsWithLeague.ExtendedTeamListDto;
        leagues = extendedTeamsWithLeague.leagueDtos;
        foreach (var team in extendedTeams)
        {
            team.LeagueId = team.LeagueName == null ? 0 : leagues.FirstOrDefault(l => l.Name == team.LeagueName)?.Id ?? 0;
        }
        pageReady = true;
    }

    public async Task<ExtendedTeamWithLeagueDto> GetTeamProfile()
    {
        ExtendedTeamWithLeagueDto teamResponse = await teamService.GetAllTeamsForEdit();
        return teamResponse;
    }

    private void EditTeam(ExtendedTeamDto team)
    {
        team.IsEditing = true;
    }

    private async Task UpdateTeam(ExtendedTeamDto team)
    {
        await teamService.UpdateExtendedTeamByAdmin(team);
        team.IsEditing = false;
    }

    private void CancelEdit(ExtendedTeamDto team)
    {
        team.IsEditing = false;
    }
}
