@page "/match/{Id:int}"
@using VolleyLeague.Client.Blazor.Services
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims
@using VolleyLeague.Shared.Dtos.Matches
@inject HttpClient _httpClient
@inject NavigationManager NavigationManager

@inject IMatchService matchService
@inject ITypedResultService typedResultService
@inject AuthenticationStateProvider AuthenticationStateProvider

<head>
    <link href="/assets/css/custom-match.css" rel="stylesheet" />
</head>

<section class="category_section">
    <div class="container">
        <div class="row">
            @if (MatchData != null)
            {
                <!-- Match Result Section -->
                <div class="order-2">
                    <div class="card m-1 text-center">
                        <h2 class="match-result-header">Wynik Meczu</h2>
                        <div class="card-body table-responsive">
                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th class="team-name">@MatchData.HomeTeam.Name</th>
                                        <th class="team-name">@MatchData.GuestTeam.Name</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="align-middle"><h2>@MatchData.Team1Score</h2></td>
                                        <td class="align-middle"><h2>@MatchData.Team2Score</h2></td>
                                    </tr>
                                </tbody>
                            </table>

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="bold-header">Set I</th>
                                        <th class="bold-header">Set II</th>
                                        <th class="bold-header">Set III</th>
                                        <th class="bold-header">Set IV</th>
                                        <th class="bold-header">Set V</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="score-cell">@MatchData.Set1Team1Score : @MatchData.Set1Team2Score</td>
                                        <td class="score-cell">@MatchData.Set2Team1Score : @MatchData.Set2Team2Score</td>
                                        <td class="score-cell">@MatchData.Set3Team1Score : @MatchData.Set3Team2Score</td>
                                        <td class="score-cell">@MatchData.Set4Team1Score : @MatchData.Set4Team2Score</td>
                                        <td class="score-cell">@MatchData.Set5Team1Score : @MatchData.Set5Team2Score</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Teams Section -->
                <div class="d-flex flex-row flex-nowrap justify-content-around team-cards-container move-top">
                    <div class="card m-2 text-center team order-1">
                        <div class="card-body">
                            <div class="card-text d-flex align-content-center justify-content-center">
                                @if (MatchData.HomeTeam.Logo != null)
                                {
                                    var imgSrcLogo = (MatchData.HomeTeam.Logo != null && MatchData.HomeTeam.Logo.Length > 0)
                                    ? $"data:image/png;base64,{Convert.ToBase64String(MatchData.HomeTeam.Logo)}"
                                    : "/assets/images/Logo_alternative.png";
                                    <img src="@imgSrcLogo" class="team-logo">
                                }
                                else
                                {
                                    <TeamLogo ImageUrl="/images/user.png"></TeamLogo>
                                }
                            </div>
                            <div class="card-text text-center mb-2">
                                <NavLink href="@{"/team/" + MatchData.HomeTeam.Id}">@MatchData.HomeTeam.Name</NavLink>
                            </div>
                            <table class="table table-sm text-left">
                                <thead>
                                    <tr>
                                        <th>Lp</th>
                                        <th>Zawodnik</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        i1 = 1;
                                    }
                                    @foreach (var player in MatchData.HomeTeam.Players)
                                    {
                                        <tr>
                                            <td>@(i1++)</td>
                                            <td>
                                                <NavLink href="@{"/user/" + player.Id}">@player.FirstName @player.LastName</NavLink>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card m-2 team order-3 team-card">
                        <div class="card-body">
                            <div class="card-text d-flex align-content-center justify-content-center">
                                @if (MatchData.GuestTeam.Logo != null)
                                {
                                    var imgSrcLogo = (MatchData.GuestTeam.Logo != null && MatchData.GuestTeam.Logo.Length > 0)
                                    ? $"data:image/png;base64,{Convert.ToBase64String(MatchData.GuestTeam.Logo)}"
                                    : "/assets/images/Logo_alternative.png";
                                    <img src="@imgSrcLogo" class="team-logo">
                                }
                                else
                                {
                                    <TeamLogo ImageUrl="/images/user.png"></TeamLogo>
                                }
                            </div>
                            <div class="card-text text-center mb-2">
                                <NavLink href="@{"/team/" + MatchData.GuestTeam.Id}">@MatchData.GuestTeam.Name</NavLink>
                            </div>
                            <table class="table table-sm text-left">
                                <thead>
                                    <tr class="table-header">
                                        <th>Lp</th>
                                        <th>Zawodnik</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var i2 = 1;
                                    }
                                    @foreach (var player in MatchData.GuestTeam.Players)
                                    {
                                        <tr>
                                            <td class="player-index">@(i2++)</td>
                                            <td class="wrap player-name">
                                                <NavLink href="@{"/user/" + player.Id}">@player.FirstName @player.LastName</NavLink>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Basic Information Section -->
                <div class="d-flex flex-column justify-content-center flex-wrap">
                    <div class="card m-2 info-card">
                        <div class="card-header"><h2>Podstawowe informacje</h2></div>
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Data</td>
                                        <td>@MatchData.Schedule</td>
                                    </tr>
                                    <tr>
                                        <td>@MatchData.MatchLeague</td>
                                        <td>@MatchData.RoundName</td>
                                    </tr>
                                    <tr>
                                        <td>Miejsce</td>
                                        <td>@MatchData.VenueName</td>
                                    </tr>
                                    <tr>
                                        <td>Sędzia</td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(MatchData.UnknownRefereeName))
                                            {
                                                @MatchData.UnknownRefereeName
                                            }
                                            else
                                            {
                                                <NavLink href="@{"/user/" + MatchData.Referee.Id}">@MatchData.Referee.FirstName @MatchData.Referee.LastName</NavLink>
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>MVP</td>
                                        <td>
                                            @if (MatchData.Mvp != null)
                                            {
                                                <NavLink href="@{"/user/" + MatchData.Mvp?.Id}">@MatchData.Mvp?.FirstName @MatchData.Mvp?.LastName</NavLink>
                                            }
                                            else
                                            {
                                                <span>Brak</span>
                                            }
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- Prediction Section -->
                <div class="order-2">
                    <div class="card m-1 text-center">
                        <div class="card-body table-responsive">
                            @if (IsDayBeforeMatch)
                            {
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @if (userTypedResult != null && !isEditing)
                                    {
                                        <div>
                                            <h3>Twój typ:</h3>
                                            <p>Wynik @MatchData.HomeTeam.Name: @userTypedResult.Score1</p>
                                            <p>Wynik @MatchData.GuestTeam.Name: @userTypedResult.Score2</p>
                                        </div>
                                        <button @onclick="EnableEditing" class="btn btn-primary mt-3">Zmień typ</button>
                                    }
                                    else
                                    {
                                        <EditForm Model="typedResult" OnValidSubmit="HandleValidSubmit">
                                            <DataAnnotationsValidator />

                                            <h3>Typermania</h3>
                                            <p class="text-muted">Dodaj wynik swojego typu na nadchodzący mecz</p>

                                            <div class="row margin-top-xs">
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <InputNumber id="HomeTeamScore" class="form-control" @bind-Value="typedResult.Score1" Min="0" Max="3" placeholder="Wynik drużyny gospodarzy" />
                                                        <label for="HomeTeamScore">Wynik @MatchData.HomeTeam.Name</label>
                                                        <ValidationMessage For="@(() => typedResult.Score1)" />
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-floating mb-4">
                                                        <InputNumber id="GuestTeamScore" class="form-control" @bind-Value="typedResult.Score2" Min="0" Max="3" placeholder="Wynik drużyny gości" />
                                                        <label for="GuestTeamScore">Wynik @MatchData.GuestTeam.Name</label>
                                                        <ValidationMessage For="@(() => typedResult.Score2)" />
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="d-flex justify-content-center">
                                                <button type="submit" class="btn btn-primary">Zatwierdź wynik</button>
                                            </div>
                                        </EditForm>
                                    }
                                }
                                else
                                {
                                    <p>Musisz być zalogowany, aby dodać wynik.</p>
                                }
                            }
                            else
                            {
                                <p>Zgodnie z zasadami typermanii, udział w niej jest możliwy do dnia poprzedzającego mecz.</p>
                            }
                        </div>
                    </div>
                </div>

                <!-- Edit Match Button -->
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="d-flex justify-content-center m-3 edit-match-button-container">
                        <button @onclick="EditMatch" class="btn btn-primary edit-match-button">
                            Edytuj mecz
                        </button>
                    </div>
                }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <LoadingIcon />
                </div>
            }
        </div>
    </div>
</section>

@code {
    [Parameter]
    public int Id { get; set; }

    private string? authMessage;
    private string? surname;
    private IEnumerable<Claim> claims = Enumerable.Empty<Claim>();
    ClaimsPrincipal user;

    private async Task GetClaimsPrincipalData()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        if (user.Identity is not null && user.Identity.IsAuthenticated)
        {
            authMessage = $"{user.Identity.Name} is authenticated.";
            claims = user.Claims;
            surname = user.FindFirst(c => c.Type == ClaimTypes.Surname)?.Value;
        }
        else
        {
            authMessage = "The user is NOT authenticated.";
        }
    }

    private int i1 = 1;
    private int i2 = 1;

    public MatchDto? MatchData { get; set; }
    public TypedResultDto? userTypedResult { get; set; } = null;

    private ClaimsPrincipal User { get; set; }

    // Check if it's possible to submit predictions
    private bool IsDayBeforeMatch => MatchData != null && DateTime.Now.Date <= MatchData.Schedule.Date.AddDays(-1);

    private bool isEditing = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        User = authState.User;

        await GetMatchData();
        await LoadUserTypedResult();
    }

    public async Task GetMatchData()
    {
        var matchResult = await matchService.GetMatch(Id);
        MatchData = matchResult;
    }

    public async Task LoadUserTypedResult()
    {
        if (User?.Identity != null && User.Identity.IsAuthenticated)
        {
            var userId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
            if (!string.IsNullOrEmpty(userId))
            {
                userTypedResult = await typedResultService.GetTypedResultByMatchAndUser(Id);

                if (userTypedResult != null)
                {
                    // Copy the existing result to the typedResult model for editing
                    typedResult.Score1 = userTypedResult.Score1;
                    typedResult.Score2 = userTypedResult.Score2;
                }
            }
        }
    }

    private TypedResultDto typedResult = new TypedResultDto();

    private async Task HandleValidSubmit()
    {
        typedResult.UserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        typedResult.MatchId = Id;

        if (userTypedResult != null)
        {
            // Update existing result
            userTypedResult.Score1 = typedResult.Score1;
            userTypedResult.Score2 = typedResult.Score2;
            await typedResultService.UpdateTypedResult(userTypedResult);
        }
        else
        {
            // Create new result
            await typedResultService.CreateTypedResult(typedResult);
        }

        await LoadUserTypedResult();
        isEditing = false;
        NavigationManager.NavigateTo($"/match/{Id}", forceLoad: true);
    }

    private void EnableEditing()
    {
        isEditing = true;
    }

    public void EditMatch()
    {
        NavigationManager.NavigateTo("/managematch/" + Id);
    }
}
