@page "/teams-list"
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Teams
@inject HttpClient Http
@inject ITeamService TeamService

@if (!PageReady)
{
    <section id="loading_section" style="margin-top: 150px" class="loading_section">
        <div class="container">
            <div id="spinner"></div>
        </div>
    </section>
}
else
{
    <section class="category_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile">
                        <div class="article_title header_purple">
                            <h2>ZESPOŁY</h2>
                        </div>
                        <p class="text-danger">@ErrorMessage</p>

                        <div class="container">
                            <h2 class="text-center"></h2>

                            <div class="row">
                                <div class="col-md-4">
                                    <h3>1 Liga BLS</h3>
                                    <div class="list-group">
                                        @foreach (TeamDto team in team1)
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        @if (team.Logo != null)
                                                        {
                                                            <img src="@GetTeamLogoSrc(team.Logo)" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                        else
                                                        {
                                                            <img src="/assets/img/Logo_alternative.png" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <div style="min-height: 45px;">
                                                            <!-- Kontener na tekst, wyrównany do wysokości obrazka -->
                                                            <div class="team-name" style="font-weight: bold; color: #000;">@team.Name</div> <!-- Nazwa zespołu pogrubiona i czarna -->
                                                            <a href="/team/@team.Id/" class="team-link" style="color: #0268d6;">Profil</a> <!-- Linki czarne -->
                                                            <a href="/team-result/@team.Id/" class="team-link" style="color: #0268d6;">Wyniki</a> <!-- Linki czarne -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h3>1 Liga BLSK</h3>
                                    <div class="list-group">
                                        @foreach (TeamDto team in team2)
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        @if (team.Logo != null)
                                                        {
                                                            <img src="@GetTeamLogoSrc(team.Logo)" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                        else
                                                        {
                                                            <img src="/assets/img/Logo_alternative.png" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <div style="min-height: 45px;">
                                                            <!-- Kontener na tekst, wyrównany do wysokości obrazka -->
                                                            <div class="team-name" style="font-weight: bold; color: #000;">@team.Name</div> <!-- Nazwa zespołu pogrubiona i czarna -->
                                                            <a href="/team/@team.Id/" class="team-link" style="color: #0268d6;">Profil</a> <!-- Linki czarne -->
                                                            <a href="/team-result/@team.Id/" class="team-link" style="color: #0268d6;">Wyniki</a> <!-- Linki czarne -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <h3>2 Liga BLS</h3>
                                    <div class="list-group">
                                        @foreach (TeamDto team in team3)
                                        {
                                            <div class="list-group-item">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        @if (team.Logo != null)
                                                        {
                                                            <img src="@GetTeamLogoSrc(team.Logo)" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                        else
                                                        {
                                                            <img src="/assets/img/Logo_alternative.png" alt="Logo" style="width: 45px; height: 45px;"> <!-- Powiększone logo -->
                                                        }
                                                    </div>
                                                    <div class="col-xs-10">
                                                        <div style="min-height: 45px;">
                                                            <!-- Kontener na tekst, wyrównany do wysokości obrazka -->
                                                            <div class="team-name" style="font-weight: bold; color: #000;">@team.Name</div> <!-- Nazwa zespołu pogrubiona i czarna -->
                                                            <a href="/team/@team.Id/" class="team-link" style="color: #0268d6;">Profil</a> <!-- Linki czarne -->
                                                            <a href="/team-result/@team.Id/" class="team-link" style="color: #0268d6;">Wyniki</a> <!-- Linki czarne -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="container login">
                            <h2 class="text-center">POZOSTAŁE ZESPOŁY</h2>
                            <div class="form-group row" style="max-width:700px">
                                <label for="league">Liga:</label>
                                <select class="form-control" id="league" @onchange="UpdateLeague">
                                    @if (Leagues == null)
                                    {
                                        <option value="null" disabled>Ładowanie lig...</option>
                                    }
                                    else
                                    {
                                        <option value="null" selected disabled>Wybierz ligę</option>
                                        @foreach (LeagueDto league in Leagues)
                                        {
                                            <option value="@league.Id">@league.Name</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<style>
    .nav-item.nav-user {
        color: #7d7d7d;
        text-decoration: none;
        font-size: 9px;
    }

    #spinner {
        width: 40px;
        height: 40px;   
        border: 5px solid #ccc;
        border-top: 5px solid #007bff;
        border-radius: 50%;
        margin: 50px auto;
        animation: spin 1s linear infinite;
    }
</style>

@code {
    public bool PageReady = false;

    public string ErrorMessage = "";

    public List<LeagueDto>? Leagues;

    public List<TeamDto>? Teams;

    public List<TeamDto>? team1;
    public List<TeamDto>? team2;
    public List<TeamDto>? team3;

    protected override async Task OnInitializedAsync()
    {
        await GetCurrentTopTeams();
        Leagues = await GetLeagues();

        if (Leagues != null && team1 != null && team2 != null && team3 != null)
        {
            PageReady = true;
        }
    }

    private async Task<List<LeagueDto>?> GetLeagues()
    {
        var leaguesResoponse = await TeamService.GetLeagues();
        return leaguesResoponse;
    }

    private async Task GetCurrentTopTeams()
    {
        team1 = await TeamService.GetTeamsByLeague(1);
        team2 = await TeamService.GetTeamsByLeague(5);
        team3 = await TeamService.GetTeamsByLeague(2);
        StateHasChanged();
    }

    private async void UpdateLeague(ChangeEventArgs e)
    {
        int leagueId = Convert.ToInt32(e.Value);

        var result = await TeamService.GetTeamsByLeague(leagueId);

        Teams = result;
        StateHasChanged();
    }

    private string GetTeamLogoSrc(byte[] logo)
    {
        return logo != null ? $"data:image/png;base64,{Convert.ToBase64String(logo)}" : "/images/user.png";
    }
}
