@page "/team-result/{Id:int}"
@using VolleyLeague.Entities.Dtos.Discussion
@using VolleyLeague.Entities.Dtos.Matches
@using VolleyLeague.Entities.Dtos.Teams
@using Volleyball.DTO.Discussion
@using VolleyLeague.Client.Blazor.Services
@inject ITeamService teamService
@inject IMatchService matchService


<section class="category_section team">
    <div class="container">
        <div class="row">
            <div class="text-center">
                @if (TeamData != null)
                {

                    <h2>@TeamData.Name</h2>

                    <div class="p-2 card mt-4 mb-5 table-responsive-lg">
                        <div class="card-header">
                            Historia meczów
                        </div>
                        <div class="form-group row p-5">
                            <label for="season">Sezon:</label>
                               <EditForm Model="Filter">
                                <div class="form-group btn-group">
                                    <label for="seasonSelect" class="btn btn-default btn-label">SEZON:</label>
                                    <Select value="@Filter.SeasonId" @onchange="OnSeasonChanged" class="btn btn-default dropdown-toggle">
                                        @foreach (var season in Filter.SeasonList)
                                        {
                                            <option value="@season.Id">@season.Name</option>
                                        }
                                    </Select>
                                </div>
                               </EditForm>
@*                             <select class="form-control" id="season" @onchange="UpdateSeason">
                                @if (Seasons == null)
                                {
                                    <option value="null" disabled>Ładowanie sezonów...</option>
                                }
                                else
                                {
                                    @foreach (SeasonDto season in Seasons)
                                    {
                                        <option value="@season.Id">@season.Name</option>
                                    }
                                }

                            </select> *@
                        </div>
                        <table class="table text-left" style="max-width:800px">
                            <thead>
                                <tr>
                                    <th>Termin</th>
                                    <th>Gospodarz</th>
                                    <th>Wynik</th>
                                    <th>Gość</th>
                                    <th>Miejsce</th>
                                    <th>Kolejka</th>
                                    <th>Sędzia</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Games != null)
                                {
                                    @foreach (var game in Games)
                                    {
                                        <tr>
                                            <td>
                                                <NavLink href=@{
                                             "/match/" + game.Id
                                             }>@game.Schedule</NavLink>
                                                </td>
                                                <td>
                                                    <NavLink href=@{
                                             "/team/" + game.HomeTeam.Id
                                             }>@game.HomeTeam.Name</NavLink>
                                                </td>
                                                <td>@game.Team1Score : @game.Team2Score</td>
                                            <td>
                                                <NavLink href=@{
                                             "/team/" + game.GuestTeam.Id
                                             }>@game.GuestTeam.Name</NavLink>
                                                </td>
                                                <td>@game.VenueName</td>
                                            <td>@game.RoundName</td>
                                            <td>
                                                <NavLink href=@{
                                             "/user-profile/" + game.Referee.Id
                                             }>@game.Referee.FirstName @game.Referee.LastName</NavLink>
                                                </td>
                                            </tr>
                                    }
                                }
                            </tbody>
                        </table>

                    </div>
                }
                else
                {
                    @if (ErrorMessage != "")
                    {
                        <div class="alert alert-danger" role="alert">
                            @ErrorMessage
                        </div>
                    }
                    else
                    {
                        <LoadingIcon></LoadingIcon>
                    }
                }
            </div>
        </div>
    </div>
</section>

<style>
    .category_section.team {
        margin-top: 50px;
    }
</style>





@code {
    private int i = 1;

    public string ErrorMessage { get; set; } = "";

    public string CommentsErrorMessage { get; set; } = "";

    private ScheduleFilter Filter = new ScheduleFilter();

    private class ScheduleFilter
    {
        public int SeasonId { get; set; }
        public List<SeasonDto> SeasonList { get; set; } = new List<SeasonDto>();
    }

    [Parameter]
    public int Id { get; set; }

    public TeamDto? TeamData { get; set; }

    public List<CommentDto> TeamComments { get; set; } = new List<CommentDto>();

    public List<SeasonDto>? Seasons { get; set; }

    public NewCommentDto commentModel { get; set; } = new NewCommentDto();

    public List<MatchSummaryDto>? Games { get; set; }

    public bool SubmitLoading { get; set; } = false;

    public string NewCommentError { get; set; } = "";

    protected override async void OnInitialized()
    {
        TeamData = await GetTeamProfile();

        commentModel = new NewCommentDto()
            {
                ContentLocationId = Id,
            };

        Filter.SeasonList = await matchService.GetSeasons();

        StateHasChanged();
    }

    private void UpdateSeason(ChangeEventArgs e)
    {
        int seasonId = Convert.ToInt32(e.Value);

        UpdateSeason(seasonId);
    }

    private async Task ApplyFilter()
    {
        Console.Write("Change");
        // Wykonaj zapytanie do serwisu, aby uzyskać dane dla wybranego sezon
        // i ligi
        Games = await matchService.GetMatches(Filter.SeasonId, Id);
    }

    private EventCallback<ChangeEventArgs> OnSeasonChanged => EventCallback.Factory.Create<ChangeEventArgs>(this, async e =>
    {
        Console.WriteLine(e);
        Console.Write("Change");
        Filter.SeasonId = Convert.ToInt32(e.Value.ToString());
        await ApplyFilter();
    });

    private async void UpdateSeason(int id)
    {
        var gamesResult = await matchService.GetMatches(id, Id);

        Games = gamesResult;

    }

    public async Task<TeamDto?> GetTeamProfile()
    {
        var teamResponse = await teamService.GetTeam(Id);
        return teamResponse;


    }

    private string GetLogoSrc(byte[] logo)
    {
        if (logo != null && logo.Length > 0)
        {
            return $"data:image/png;base64,{Convert.ToBase64String(logo)}";
        }
        else
        {
            // Zwróć ścieżkę do obrazka zastępczego, jeśli logo jest null
            return "/assets/img/Logo_alternative.png";
        }
    }
}
