@page "/teams-list"
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Teams
@inject HttpClient Http
@inject ITeamService TeamService

<link href="team-list.css" rel="stylesheet">

@if (!PageReady)
{
    <section id="loading_section" class="loading_section">
        <div class="container">
            <div id="spinner"></div>
        </div>
    </section>
}
else
{
    <div class="rts-team-section inner section-gap">
        <div class="container">
            <div class="top-wrap">
                <div class="filter-button-group">
                    <button class="filter-btn team-list @(activeLeague == 1 ? "active" : "")" @onclick="() => LoadTeams(1)">1 Liga BLS</button>
                    <button class="filter-btn team-list @(activeLeague == 5 ? "active" : "")" @onclick="() => LoadTeams(5)">1 Liga BLSK</button>
                    <button class="filter-btn team-list @(activeLeague == 2 ? "active" : "")" @onclick="() => LoadTeams(2)">2 Liga BLS</button>
                </div>
            </div>

            <div class="filterd-items">
                <div class="team-section-inner inner">
                    <div class="row team-list-margin-top">
                        @foreach (var team in Teams)
                        {
                            var imgSrc = team.Logo != null ? $"data:image/png;base64,{Convert.ToBase64String(team.Logo)}" : "/assets/images/Logo_alternative.png";
                            <div class="col-xl-4 col-md-4 col-sm-6">
                                <div class="team-wraper">
                                    <div class="player-card-white">
                                        <a class="image" href="team-details.html">
                                            <img src="@imgSrc" alt="Logo" class="team-logo">
                                        </a>
                                    </div>
                                    <a href="#" class="team-list-header-text">@team.Name.ToUpper()</a>
                                    <div class="team-list-flex-row-center">
                                        <div class="team-list-form">
                                            <a href="/team/@team.Id/" class="btn btn-primary custom-button team-list-btn-spacing team-list-btn-hover">PROFIL</a>
                                        </div>
                                        <div class="team-list-form">
                                            <a href="/team-result/@team.Id/" class="btn btn-primary custom-button team-list-btn-spacing team-list-btn-hover">WYNIKI</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@code {
    public bool PageReady = false;
    public string ErrorMessage = "";
    public List<LeagueDto>? Leagues;
    public List<TeamDto>? Teams = new List<TeamDto>();
    public List<TeamDto>? team1;
    public List<TeamDto>? team2;
    public List<TeamDto>? team3;

    private int activeLeague = 1;

    protected override async Task OnInitializedAsync()
    {
        await LoadTeams(activeLeague);
        Leagues = await GetLeagues();
        PageReady = true;
    }

    private async Task<List<LeagueDto>?> GetLeagues()
    {
        var leaguesResoponse = await TeamService.GetLeagues();
        return leaguesResoponse;
    }

    private async Task LoadTeams(int leagueId)
    {
        activeLeague = leagueId;
        Teams = await TeamService.GetTeamsByLeague(leagueId);
        StateHasChanged();
    }

    private async void UpdateLeague(ChangeEventArgs e)
    {
        int leagueId = Convert.ToInt32(e.Value);
        await LoadTeams(leagueId);
    }

    private string GetTeamLogoSrc(byte[] logo)
    {
        return logo != null ? $"data:image/png;base64,{Convert.ToBase64String(logo)}" : "/images/user.png";
    }
}
