@page "/team/{Id:int}"
@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@using VolleyLeague.Shared.Dtos.Matches
@using VolleyLeague.Shared.Dtos.Teams
@inject ITeamService teamService
@inject IMatchService matchService
@inject HttpClient Http

<div class="rts-point-table-section section-gap">
    <div class="container">
        <div class="table-area table-full text-center">
            @if (TeamData != null)
            {

                var imgSrcLogo = (TeamData.Logo != null && TeamData.Logo.Length > 0)
                ? $"data:image/png;base64,{Convert.ToBase64String(TeamData.Logo)}"
                : "/assets/images/Logo_alternative.png";

                var imgSrcImage =  $"data:image/png;base64,{Convert.ToBase64String(TeamData.Photo)}";

                <div class="team-header">
                    <h2>@TeamData.Name</h2>
                    @if (TeamData.Logo != null && TeamData.Logo.Length > 0)
                    {
                        <img src="@imgSrcLogo" class="team-logo">
                    }
                    @if (TeamData.Photo != null && TeamData.Photo.Length > 0)
                    {
                        <div>
                            <img src="@imgSrcImage" class="team-image">
                        </div>
                    }
                </div>
                <div class="p-2 card table-responsive">
                    <div class="card-header" style="margin-top: 30px">
                        <h2>Zawodnicy</h2>
                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-dark" style="background: #015293; color: white;">
                                <tr>
                                    <th>LP</th>
                                    <th>Imię i nazwisko</th>
                                    <th>Numer</th>
                                    <th>Wzrost</th>
                                    <th>Pozycja</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int rank = 1;
                                }
                                <tr>
                                    <td><span class="position-number">@rank</span></td>
                                    <td>
                                        <div class="player-name-area">
                                            <h4 class="player-name"><NavLink href=@{
                                                 "/user/" + TeamData.Captain.Id
                                                 }><b>@TeamData.Captain.FirstName @TeamData.Captain.LastName (K)</b></NavLink></h4>
                                        </div>
                                    </td>
                                    <td>@TeamData.Captain.JerseyNumber</td>
                                    <td>@TeamData.Captain.Height</td>
                                    <td>@TeamData.Captain.PositionName</td>
                                </tr>
                                @foreach (var player in TeamData.Players)
                                {
                                    rank++;
                                    <tr>
                                        <td><span class="position-number">@rank</span></td>
                                        <td>
                                            <div class="player-name-area">
                                                <h4 class="player-name"><NavLink href=@{
                                                 "/user/" + player.Id
                                                 }>@player.FirstName @player.LastName</NavLink></h4>
                                            </div>
                                        </td>
                                        <td>@(player.JerseyNumber.ToString() ?? "?")</td>
                                        <td>@(player.Height.ToString() ?? "?")</td>
                                        <td>@(player.PositionName.ToString() ?? "?")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="p-2 card mt-4 mb-5 table-responsive">
                    <div class="card-header">
                        <h2>Informacje o drużynie</h2>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Nazwa</b></td>
                                <td>@TeamData.Name</td>
                            </tr>
                            <tr>
                                <td><b>Strona www</b></td>
                                <td><a href="@TeamData.Website">@TeamData.Website</a></td>
                            </tr>
                            <tr>
                                <td><b>Opis</b></td>
                                <td>@TeamData.TeamDescription</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="p-2 card mt-4 mb-5 table-responsive-lg">
                    <div class="card-header">
                        Historia meczów
                        <a href="/team-result/@Id/" class="team-link" style="color: #0268d6;">Wyniki</a> <!-- Linki czarne -->
                    </div>
                </div>
            }
            else
            {
                @if (ErrorMessage != "")
                {
                    <div class="alert alert-danger" role="alert">
                        @ErrorMessage
                    </div>
                }
                else
                {
                    <LoadingIcon></LoadingIcon>
                }
            }
        </div>
    </div>
</div>

<style>
    .btn-label {
        background: none;
        border: none;
        padding: 6px 12px;
        font-weight: bold;
        color: #555;
        text-align: left;
    }

    .dropdown-toggle {
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .card {
        margin-bottom: 50px;
    }

    .btn.btn-default.dropdown-toggle {
        background: #e5e7eb;
        font-size: 12px;
        color: black;
        font-weight: bold;
        text-align: left;
    }

    .custom-button {
        color: white;
        background-color: #015293;
    }

    .custom-button:hover {
        background-color: black;
        color: white;
    }

    .category_section.team {
        margin-top: 50px;
    }

    .table th, .table td {
        text-align: center;
        vertical-align: middle;
    }

    .thead-dark th {
        background-color: #343a40;
        color: white;
    }

    .table-bordered th,
    .table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table-striped tbody tr:nth-of-type(odd) {
        background-color: rgba(0, 0, 0, 0.05);
    }

    .table-responsive {
        margin-top: 20px;
    }

    #spinner {
        width: 40px;
        height: 40px;
        border: 5px solid #ccc;
        border-top: 5px solid #007bff;
        border-radius: 50%;
        margin: 50px auto;
        animation: spin 1s linear infinite;
    }

    .player-name-area {
        display: flex;
        align-items: center;
    }

    .alert-info, .alert-danger {
        margin-top: 20px;
    }

    .thead-dark th {
        background-color: #015293;
        color: white;
    }

    .team-header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    .team-logo, .team-image {
        width: 70%;
        height: auto;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .team-logo{
        max-width: 250px;
    }
</style>

@code {
    private int i = 1;

    public string ErrorMessage { get; set; } = "";

    public string CommentsErrorMessage { get; set; } = "";

    private ScheduleFilter Filter = new ScheduleFilter();

    private class ScheduleFilter
    {
        public int SeasonId { get; set; }
        public List<SeasonDto> SeasonList { get; set; } = new List<SeasonDto>();
    }

    [Parameter]
    public int Id { get; set; }

    public TeamDto? TeamData { get; set; }

    public List<CommentDto> TeamComments { get; set; } = new List<CommentDto>();

    public List<SeasonDto>? Seasons { get; set; }

    public NewCommentDto commentModel { get; set; } = new NewCommentDto();

    public List<MatchSummaryDto>? Games { get; set; }

    public bool SubmitLoading { get; set; } = false;

    public string NewCommentError { get; set; } = "";

    public bool IsTeamImageAvailable { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        TeamData = await GetTeamProfile();
        IsTeamImageAvailable = await CheckTeamImageAvailability();

        commentModel = new NewCommentDto()
        {
            ContentLocationId = Id,
        };

        Filter.SeasonList = await matchService.GetSeasons();

        StateHasChanged();
    }

    private void UpdateSeason(ChangeEventArgs e)
    {
        int seasonId = Convert.ToInt32(e.Value);

        UpdateSeason(seasonId);
    }

    private async Task ApplyFilter()
    {
        Games = await matchService.GetMatches(Filter.SeasonId, Id);
    }

    private EventCallback<ChangeEventArgs> OnSeasonChanged => EventCallback.Factory.Create<ChangeEventArgs>(this, async e =>
    {
        Filter.SeasonId = Convert.ToInt32(e.Value.ToString());
        await ApplyFilter();
    });

    private async void UpdateSeason(int id)
    {
        Games = await matchService.GetMatches(id, Id);
    }

    public async Task<TeamDto?> GetTeamProfile()
    {
        var teamResponse = await teamService.GetTeam(Id);
        return teamResponse;
    }

    private async Task<bool> CheckTeamImageAvailability()
    {
        var filePath = $"assets/images/teams/{Id}.jpg";
        try
        {
            var response = await Http.GetAsync(filePath);
            return response.IsSuccessStatusCode;
        }
        catch
        {
            return false;
        }
    }

    private string GetLogoSrc(byte[] logo)
    {
        return $"data:image/png;base64,{Convert.ToBase64String(logo)}";
    }
}
