@page "/user/0"
@page "/user/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using VolleyLeague.Client.Blazor.Services
@using VolleyLeague.Shared.Dtos.Discussion
@using VolleyLeague.Shared.Dtos.Teams

@inject IUserService userService
@inject NavigationManager NavigationManager

<head>
    <link rel="stylesheet" href="/assets/css/custom-user.css" />
</head>

    <div class="rts-point-table-section section-gap">
        <div class="container">
            <div class="table-area table-full text-center">
                @if (UserProfileData != null)
                {
                    <div class="team-header">
                        @if (UserProfileData.Photo != null && UserProfileData.Photo.Length > 0)
                        {
                            <img src="@GetLogoSrc(UserProfileData.Photo)" class="team-image">
                        }
                    </div>
                    <div class="p-2 card table-responsive">
                        <div class="card-header" style="margin-top: 30px">
                            <h2>Informacje o Użytkowniku</h2>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Informacje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Imię i nazwisko</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.FirstName) || string.IsNullOrWhiteSpace(UserProfileData.LastName) ? "-" : $"{UserProfileData.FirstName} {UserProfileData.LastName}")</td>
                                </tr>
                                <tr>
                                    <td>Pozycja</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.PositionName) ? "-" : UserProfileData.PositionName)</td>
                                </tr>
                                <tr>
                                    <td>Rok urodzenia</td>
                                    <td>@(UserProfileData.BirthYear == 0 ? "-" : UserProfileData.BirthYear.ToString())</td>
                                </tr>
                                <tr>
                                    <td>Miasto</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.City) ? "-" : UserProfileData.City)</td>
                                </tr>
                                <tr>
                                    <td>Płeć</td>
                                    <td>@(UserProfileData.Gender.HasValue ? (UserProfileData.Gender.Value ? "Mężczyzna" : "Kobieta") : "-")</td>
                                </tr>
                                <tr>
                                    <td>Wzrost</td>
                                    <td>@(UserProfileData.Height == 0 ? "-" : $"{UserProfileData.Height} cm")</td>
                                </tr>
                                <tr>
                                    <td>Waga</td>
                                    <td>@(UserProfileData.Weight == 0 ? "-" : $"{UserProfileData.Weight} kg")</td>
                                </tr>
                                <tr>
                                    <td>Numer koszulki</td>
                                    <td>@(UserProfileData.JerseyNumber == 0 ? "-" : UserProfileData.JerseyNumber.ToString())</td>
                                </tr>
                                <tr>
                                    <td>Zasięg w bloku</td>
                                    <td>@(UserProfileData.BlockRange == 0 ? "-" : $"{UserProfileData.BlockRange} cm")</td>
                                </tr>
                                <tr>
                                    <td>Zasięg w ataku</td>
                                    <td>@(UserProfileData.AttackRange == 0 ? "-" : $"{UserProfileData.AttackRange} cm")</td>
                                </tr>
                                <tr>
                                    <td>Idol siatkówki</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.VolleyballIdol) ? "-" : UserProfileData.VolleyballIdol)</td>
                                </tr>
                                <tr>
                                    <td>Hobby</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.Hobby) ? "-" : UserProfileData.Hobby)</td>
                                </tr>
                                <tr>
                                    <td>Informacje dodatkowe</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.PersonalInfo) ? "-" : UserProfileData.PersonalInfo)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="p-2 card mt-4 mb-5 table-responsive">
                        <div class="card-header">
                            <h2>Drużyna użytkownika</h2>
                        </div>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Informacje</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Nazwa drużyny</td>
                                    <td>@(string.IsNullOrWhiteSpace(UserProfileData.TeamName) ? "-" : UserProfileData.TeamName)</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                }
                else
                {
                    <LoadingIcon />
                }
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="alert alert-danger" style="margin-top: 30px;" role="alert">
                        @ErrorMessage
                    </div>
                }
        </div>
    </div>
    </div>

@code {
    [Parameter]
    public int Id { get; set; }

    public UserProfileDto? UserProfileData { get; set; }

    public string ErrorMessage { get; set; } = "";

    public bool PageReady { get; set; } = true;

    protected override async Task OnParametersSetAsync()
    {
        UserProfileData = await GetUserProfile();
        StateHasChanged();
        await base.OnParametersSetAsync();
    }

    private async Task<UserProfileDto?> GetUserProfile()
    {
        return await userService.GetUserProfile(Id);
    }

    private string GetLogoSrc(byte[] logo)
    {
        if (logo != null && logo.Length > 0)
        {
            return $"data:image/png;base64,{Convert.ToBase64String(logo)}";
        }
        else
        {
            return "/assets/img/Logo_alternative.png";
        }
    }
}
